#registration.modal
  a(href="").modal__close
  .modal__title регистрация
  .form-row-o
    input(type="email" placeholder="Ваша почта").form-row-o__input
  .form-row-o
    input(type="password" placeholder="Пароль").form-row-o__input
  .form-row-o
    input(type="password" placeholder="Повторите пароль").form-row-o__input
  .form-row-o
    input(type="text" placeholder="Username PUBG").form-row-o__input
  .form-row-o.mt-15
    a(href="").btn-r-violet.btn--full Регистрация
  .form-row-o.mt-30
    p.hint!="* Если вы введете чужой username PUBG <br>то мы вынуждены отказать вам в обслуживании)"
    p.hint.mt-15 * При смене username в игре PUBG, не забудьте сменить username на сайте в разделе настройки
#participate.modal.modal--info
  a(href="").modal__close
  p.modal__text-info!="Вы участвуете <br> в турнире"
#completion.modal.modal--info
  a(href="").modal__close
  p.modal__text-info!="Ожидайте завершения <br> турнира"
#timer-modal.modal.modal--info
  a(href="").modal__close
  .text-center
    p.modal__text-info.mb-0!="Игра началась"
    #timer.timer
#pubg.modal
  a(href="").modal__close
  h3.modal__sub-title Ваш username PUBG
  .form-row
    input(type="text" placeholder="Playername1").form-row__input
  .form-row
    input(type="text" placeholder="Playername2").form-row__input
  .form-row
    input(type="text" placeholder="Playername3").form-row__input
  .form-row
    input(type="text" placeholder="Playername4").form-row__input
  .form-row.mt-15
    a(href="").btn.btn--small
      span.btn__inner Участвовать
