.about {
  position: relative;
  margin-top: -374px;
  padding-top: 336px;
  padding-bottom: 511px;

  &:before {
    width: 15px;
    height: 104px;
    background: url("#{$rootUrl}about-h-line.png") no-repeat center;
    background-size: cover;
    display: block;
    position: absolute;
    bottom: 291px;
    left: 50%;
    transform: translate(-50%,0);
    content: '';
    z-index: 20;
  }

  &:after {
    width: 100%;
    height: 373px;
    display: block;
    content: '';
    background: url("#{$rootUrl}catagory-line.png") no-repeat center top;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &-list {
    padding: 0;
    margin: 148px 0 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: 33.3%;
      text-align: center;
      padding-left: 37px;
      padding-right: 37px;

      p {
        margin: 0;
        line-height: 1.5625;
        color: #fff;
        font-size: 16px;
      }

      a {
        color: #3b048c;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &__num-cont {
      height: 135px;
      position: relative;
    }

    &__num {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      &--1 {
        width: 390px;
        height: 136px;
        background-image: url("#{$rootUrl}about-num-1.png");
        margin-left: -9px;
      }

      &--2 {
        width: 375px;
        height: 125px;
        background-image: url("#{$rootUrl}about-num-2.png");
        //margin-left: -7px;
      }


      &--3 {
        width: 384px;
        height: 129px;
        background-image: url("#{$rootUrl}about-num-3.png");
        //margin-left: -11px;
      }
    }

    &__title {
      color: #fff;
      font-family: 'Futura PT';
      font-weight: bold;
      font-size: 30px;
      position: relative;
      padding-bottom: 15px;
      min-height: 85px;
      margin: 28px 0 26px;

      &:before {
        content: '';
        display: block;
        width: 78px;
        height: 11px;
        background: url("#{$rootUrl}about-t-line.png") no-repeat center;
        background-size: cover;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -39px;
      }
    }
  }

  .category-title {
    position: relative;
    z-index: 100;

    &:before ,
    &:after {
      width: 730px;
      height: 16px;
    }

    &:before {
      top: -18px;
      background-image: url('#{$rootUrl}about-title-top.png');
    }

    &:after {
      bottom: -9px;
      background-image: url('#{$rootUrl}about-title-bottom.png');
    }
  }
}

@media(max-width: 1200px) {
  .about {
    &-list {
      &__item {
        padding-left: 30px;
        padding-right: 30px;
      }

      &__title {
        font-size: 26px;
        line-height: 1.2;
      }
    }
  }
}

@media(max-width: 1024px) {
  .about {
    padding-top: 280px;
    padding-bottom: 450px;

    &-list {
      &__item {
        p span {
          display: block;
        }
      }
    }
  }
}

@media(max-width: 992px) {
  .about {
    &-list {
      margin: 60px 0 0;
      justify-content: center;
      position: relative;
      z-index: 100;

      &__item {
        width: 50%;
        margin-bottom: 40px;
      }
    }
  }
}

@media (max-width: 768px) {
  .about {
    height: auto;
    padding-bottom: 250px;

    .category-title {
      &:before ,
      &:after {
        width: 328px;
        height: 16px;
      }

      &:before {
        top: -16px;
        background-image: url('#{$rootUrl}about-title-top-mob.png');
      }

      &:after {
        bottom: -9px;
        background-image: url('#{$rootUrl}about-title-bottom-mob.png');
      }
    }

    &:after {
      height: 199px;
      background-size: auto 100%;
    }

    &:before {
      width: 1px;
      height: 62px;
      box-shadow: 0 0 8px #330d78;
      background-color: #4104a2;
      bottom: 177px;
    }

    &-list {
      display: block;

      &__item {
        width: 100%;
        max-width: 300px;
        margin: 0 auto 78px;
        padding: 0;
      }

      &__title {
        font-size: 30px;
        min-height: 66px;
        margin: 21px 0 18px;
      }
    }
  }
}

@media (max-width: 568px) {
  .about {
    padding-top: 235px;
    padding-bottom: 204px;

    &:after {
      height: 240px;
      background: url('#{$rootUrl}catagory-line-mob.png') no-repeat center;
      background-size: auto 100%;
    }

    &:before {
      bottom: 166px;
    }

    &-list {
      margin: 34px 0 0;
    }
  }
}
