.faq {
  padding: 0;
  margin: 43px 25px 60px;
  list-style: none;
  max-width: 1176px;

  &__item {
    min-height: 177px;
    box-shadow: 0 0 16px #3b048c;
    background-color: #141420;
    padding: 53px 84px;
    margin-bottom: 43px;
    border-radius: 24px;
    color: #fff;
    font-family: "Futura PT";
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 2px;
  }

  p {
    font-size: 24px;
    line-height: 1.5;
    margin: 0 0 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


@media(max-width: 768px) {
  .faq {
    margin-left: 10px;
    margin-right: 10px;

    &__item {
      padding: 25px 40px;
      min-height: 0;

      p {
        font-size: 16px;
      }
    }

    &__title {
      font-size: 22px;
    }
  }
}

@media(max-width: 568px) {
  .faq {
    &__item {
      padding: 25px 30px;
    }
  }
}
