.footer {
  height: 211px;
  margin-top: -211px;
  position: relative;
  z-index: 110;
  background: url("#{$rootUrl}footer.png") no-repeat center top;

  &__nav {
    padding: 43px 0 0;
    margin: 0;
    list-style: none;
    text-align: center;

    &-item {
      display: inline-block;
      vertical-align: top;
      margin: 0 17px;
    }

    &-link {
      display: block;
      line-height: 1;
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__socials {
    padding: 0;
    margin: 32px 0 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-item {
      margin: 0 4px;
    }

    &-link {
      position: relative;
      width: 30px;
      height: 30px;
      display: block;
      cursor: pointer;
      transition: 0.3s all ease;
      opacity: 0.8;

      &:hover {
        opacity: 1;
        z-index: 10;
      }
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 58px;
      height: 57px;

      &--discort {
        background-image: url("#{$rootUrl}discort.png");
      }

      &--telegram {
        background-image: url("#{$rootUrl}telegram.png");
      }

      &--vk {
        background-image: url("#{$rootUrl}vk.png");
      }

      &--yt {
        background-image: url("#{$rootUrl}yt.png");
      }
    }
  }

  &__item {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3%;

    &:nth-child(3) {
      text-align: right;
    }
  }

  &__b-row {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 0;
    padding: 0 15px;

    p {
      margin: 0;
      color: #fff;
      font-size: 12px;

      a {
        color: inherit;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .footer {
    background-size: 1400px auto;
    padding-top: 30px;

    &__nav {
      display: none;
    }

    &__socials {
      margin: 0;
    }

    &__b-row {
      margin: 20px 0 0;
      position: relative;

      &:before {
        content: '';
        display: block;
        background: url("#{$rootUrl}footer.png") no-repeat center top;
        background-size: 1400px auto;
        position: absolute;
        top: 71px;
        left: -15px;
        right: -15px;
        width: auto;
        height: 100%;
      }
    }

    &__item {
      width: 100%;
      text-align: center!important;
      padding-bottom: 20px;
      position: relative;
      z-index: 20;

      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        opacity: 0.4;
        order: 2;
        padding-bottom: 40px;

        p a {
          text-decoration: none;
        }
      }
    }
  }
}
