.functions {
  padding: 0;
  margin: 51px 25px 94px;
  list-style: none;

  &__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  &__col {
    width: 50%;
    padding: 0 41px;
  }

  &__img-w {
    min-height: 100px;
  }

  &__img {
    max-width: 100%;

    &--2 {
      margin-top: -18px;
    }

    &--3 {
      margin: 52px 0 0 63px;
    }

    &--4 {
      margin: -11px 0 0 55px;
    }
  }

  &__text-cont {
    color: #fff;
    padding-top: 40px;
  }

  &__title {
    position: relative;
    font-family: "Futura PT";
    font-size: 30px;
    font-weight: 700;
    margin: 37px 0 34px;
    padding-bottom: 15px;
    line-height: 1.2;
    min-height: 76px;

    &:before {
      position: absolute;
      left: 2px;
      bottom: 0;
      width: 75px;
      height: 1px;
      box-shadow: 0 0 6px #402477;
      background-color: #3d078b;
      display: block;
      content: '';
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 25px;
  }
}

@media(max-width: 1024px) {
  .functions {
    margin-left: 0;
    margin-right: 0;

    &__col {
      padding: 0 30px;
    }

    &__img {
      &--4 {
        margin: -11px 0 0 -2px;
      }
    }
  }
}

@media(max-width: 992px) {
  .functions {
    &__col {
      padding: 0 15px;
    }

    &__img {
      margin-left: 0;
    }
  }
}

@media(max-width: 768px) {
  .functions {
    p {
      font-size: 14px;
    }

    &__col {
      width: 100%;
    }

    &__img-w {
      text-align: center;
      order: 1;
    }

    &__img--4 {
      margin-left: -60px;
    }

    &__text-cont {
      order: 2;
      text-align: center;
    }

    &__title {
      &:before {
        left: 50%;
        transform: translate(-50%,0);
      }
    }
  }
}
