.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 237px;
  width: 100%;
  background: url("#{$rootUrl}header.png") no-repeat center;
  background-size: auto 100%;
  &__top {
    display: flex;
    flex-wrap: wrap;
    padding: 0 27px;
  }
  &__sign-in {
    color: #fff;
    font-size: 16px;
    padding-top: 30px;

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__user {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 16px;
    position: relative;

    &-avatar,
    &-avatar-m {
      width: 46px;
      height: 46px;
      border-radius: 100%;
      border: 3px solid #3f1f72;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-drop {
      width: 130px;
      box-shadow: 0 27px 40px rgba(0,0,0,.38);
      background-color: #141420;
      border-radius: 24px;
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 10px;
      padding: 15px 20px;
      display: none;
    }

    &-avatar-m {
      display: none;
    }

    &-cont {
      padding-right: 6px;
      text-align: right;
    }

    &-name {
      color: #fff;
      font-size: 14px;
      line-height: 1;
      text-decoration: none;
      margin-right: 2px;
    }

    &-price {
      line-height: 13px;
      font-size: 13px;
      color: #4104a2;
    }

    &-currency {
      display: inline-block;
      vertical-align: top;
      background: #4104a2;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      text-align: center;
      line-height: 12px;
      color: #101019;
      font-size: 12px;
      margin-left: 5px;
    }
  }

  &__logo {
    position: absolute;
    top: 26px;
    left: 50%;
    width: 186px;
    height: 114px;
    background: url("#{$rootUrl}logo.png") no-repeat center;
    background-size: cover;
    margin-left: -93px;
  }

  &__btn-menu {
    display: none;
  }

  &__nav {
    padding: 0;
    margin: 120px 0 0;
    list-style: none;
    text-align: center;

    &-item {
      display: inline-block;
      vertical-align: top;
      margin: 0 17px;
    }

    &-link {
      display: block;
      line-height: 1;
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__menu {
    .header__sign-in {
      display: none;
    }
  }
}

@media(max-width: 1024px) {
  .header {
    height: 200px;
    background-size: unset;
    background-position: center bottom;

    &__logo {
      width: 120px;
      height: 74px;
      margin-left: -60px;
      top: 15px;
    }

    &__nav {
      margin: 75px 0 0;
    }
  }
}

@media(max-width: 768px) {
  .header {
    height: 117px;

    &__btn-menu {
      display: block;
      position: absolute;
      top: 17px;
      right: 20px;
      padding: 10px;

      span {
        display: block;
        width: 30px;
        height: 3px;
        margin-top: 6px;
        background: #fff;
        transition: 0.3s all ease;
        position: relative;

        &:nth-child(1) {
          margin-top: 0;
        }
      }

      &--active {
        span {
          &:nth-child(1) {
            transform: rotate(45deg);
            top: 9px;
          }

          &:nth-child(2) {
            transform: translate(-20px,0);
            opacity: 0;
            visibility: hidden;
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
            top: -9px;
          }
        }
      }
    }

    &__menu {
      position: absolute;
      top: 100%;
      left: 15px;
      right: 15px;
      box-shadow: 0 27px 40px rgba(0,0,0,.38);
      background-color: #141420;
      border-radius: 24px;
      text-align: center;
      padding: 25px;
      transition: 0.3s all ease;
      transform: translate(-100%,0);
      opacity: 0;
      visibility: hidden;
      z-index: 100;

      &--active {
        transform: translate(0,0);
        opacity: 1;
        visibility: visible;
      }

      .header__sign-in {
        display: block;
        text-transform: uppercase;
        padding: 0;
        margin: 0 0 10px;
      }
    }

    &__nav {
      margin: 0;

      &-item {
        margin: 10px 0;
        width: 100%;
      }

      &-link {
        text-transform: uppercase;
      }
    }

    &__sign-in {
      display: none;
    }

    &__user {
      &--active {
        .header__user-drop {
          transform: translate(0,0);
          opacity: 1;
          visibility: visible;
        }
      }
      &-cont {
        display: none;
      }

      &-drop {
        display: block;
        transition: 0.3s all ease;
        transform: translate(0,50px);
        opacity: 0;
        visibility: hidden;
      }

      &-avatar-m {
        position: relative;
        display: block;

        &:before {
          position: absolute;
          left: 100%;
          top: 20px;
          margin-left: 7px;
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 3.5px 0 3.5px;
          border-color: #ffffff transparent transparent transparent;
        }
      }

      &-avatar {
        display: none;
      }
    }

    &__top {
      padding: 0 15px;

      .col-auto {
        &:nth-child(1) {
          order: 2;
        }

        &:nth-child(2) {
          order: 1;
          margin-left: 0;
          margin-right: auto;
        }
      }
    }
  }
}
