.jousts {
  margin: 19px 26px 120px;

  &__item {
    position: relative;
    margin-bottom: 34px;

    &:before {
      height: 24px;
      box-shadow: 0 7px 18px #3b048c, 0 7px 18px #3b048c;
      background-color: #141420;
      position: absolute;
      bottom: 0;
      left: 8px;
      right: 8px;
      border-radius: 0 0 24px 24px;
      display: block;
      content: '';
    }
  }

  &__inner {
    min-height: 307px;
    box-shadow: 0 27px 40px rgba(0, 0, 0, 0.38);
    background-color: #141420;
    border-radius: 24px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 30px 50px 40px;
  }

  &__cont {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 235px);
  }

  &__leaders {
    width: 235px;
    margin: -10px 0 0;

    table {
      border-collapse: collapse;
      width: 100%;
    }

    td {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      padding: 10px;
    }
  }

  &__avatar {
    position: relative;
    width: 167px;
    height: 167px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    border-radius: 8px;
    line-height: 34px;
    text-align: center;
    padding: 0 9px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;

    &--green {
      background-color: #1fb539;
    }

    &--blue {
      background-color: #09a6da;
    }

    &--red {
      background-color: #da4409;
    }
  }

  &__cont-inner {
    width: calc(100% - 167px);
    padding: 20px 35px 0;
  }

  &__title {
    color: #ffffff;
    font-family: "Futura PT";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
  }

  &__info {
    padding: 0;
    margin: 22px 0 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: 33.3%;
      color: #fff;
      font-weight: 400;
      font-size: 16px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 8px;
      padding-right: 15px;
    }

    &-icon {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 35px;
      padding-right: 5px;
    }

    &-name {
      display: block;
      width: calc(100% - 35px);
    }
  }

  &__footer-btn {
    margin-top: 29px;
  }

  &__leaders-btn {
    display: none;
  }

  .btn {
    margin-left: 10px;
  }
}

@media(max-width: 1200px) {
  .jousts {
    &__info {
      &-item {
        width: 50%;
      }
    }
  }
}

@media(max-width: 950px) {
  .jousts {
    &__leaders {
      display: none;
    }

    &__cont {
      width: 100%;
    }

    &__leaders-btn {
      display: inline-block;
      vertical-align: top;
      color: #3d0794;
      margin-top: 20px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}


@media(max-width: 768px) {
  .jousts {
    &__inner {
      padding: 40px 30px;
    }

    &__info {
      &-item {
        width: 100%;
      }
    }
  }
}

@media(max-width: 610px) {
  .jousts {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    max-width: 335px;

    &__avatar {
      margin: auto;
    }

    &__cont {
      display: block;

      &-inner {
        width: 100%;
        max-width: 220px;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
      }
    }

    &__footer-btn {
      text-align: center;

      .btn {
        width: 100%;
        line-height: 43px;
        font-size: 12px;
        font-weight: 400;
        margin: 0;

        .btn__inner {
          height: 43px;
          border-radius: 43px;
        }

        &:before ,
        &:after {
          height: 43px;
          width: 40px;
        }

        &:before {
          border-radius: 43px 0 0 43px;
          left: -10px;
        }

        &:after {
          right: -10px;
          border-radius: 0 43px 43px 0;
        }

        &:hover {
          &:before {
            left: 0;
            opacity: 0;
          }

          &:after {
            right: 0;
            opacity: 0;
          }
        }
      }
    }

    &__info {
      margin-top: 30px;
    }
  }
}

@media(max-width: 568px) {
  .jousts {

  }
}
