.leaders {
  position: relative;
  margin-top: -56px;
  padding-bottom: 505px;

  &:before {
    width: 100%;
    height: 373px;
    display: block;
    content: '';
    background: url("#{$rootUrl}catagory-line.png") no-repeat center top;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &:after {
    width: 15px;
    height: 104px;
    background: url("#{$rootUrl}/about-h-line.png") no-repeat center;
    background-size: cover;
    display: block;
    position: absolute;
    bottom: 278px;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    content: '';
    z-index: 20;
  }

  .main-container {
    position: relative;
    z-index: 100;
  }

  .category-title {
    position: relative;
    z-index: 100;
    margin: 0 0 30px;

    &:before ,
    &:after {
      width: 722px;
      height: 16px;
    }

    &:before {
      top: -18px;
      background-image: url('#{$rootUrl}leaders-title-top.png');
    }

    &:after {
      bottom: -9px;
      background-image: url('#{$rootUrl}leaders-title-bottom.png');
    }
  }

  &__text-info {
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin: 0 0 30px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 86px 0 0;
    padding: 0 17px;
  }

  &__item {
    width: 33.3%;
    position: relative;
    padding: 0 20px 20px;

    &:before {
      position: absolute;
      bottom: 20px;
      left: 28px;
      right: 28px;
      height: 24px;
      box-shadow: 0 7px 18px #3b048c, 0 7px 18px #3b048c;
      border-radius: 0 0 20px 20px;
      display: block;
      content: '';
    }
  }

  &__inner {
    box-shadow: 0 27px 40px rgba(0, 0, 0, 0.38);
    border-radius: 24px;
    background-color: #141420;
    position: relative;
    z-index: 10;
  }

  &__title {
    margin: 0;
    padding: 26px 15px 0;
    color: #ffffff;
    font-family: "Futura PT";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
  }
}

.leaders-table {
  margin: 24px 0 0;

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    min-height: 83px;
    padding: 5px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &:before ,
    &:after {
      display: block;
      content: '';
      position: absolute;
    }

    &:before {
      width: 100%;
      height: 11px;
      background: url("#{$rootUrl}line-h.png") repeat-x center;
      left: 0;
      top: -5px;
    }

    &:after {
      height: 100%;
      width: 11px;
      top: 0;
      left: -5px;
      background: url("#{$rootUrl}line-v.png") repeat-y center;
    }

    &--num {
      width: 67px;
      text-align: center;
      justify-content: center;

      &:after {
        display: none;
      }
    }

    &--cont {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      padding: 10px 20px;
      overflow: hidden;
    }

    &--status {
      width: 70px;
      text-align: center;
      justify-content: center;
    }
  }

  &__inner {
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
    position: relative;
    z-index: 10;
    width: 100%;
  }

  &__avatar {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 14px;
  }

  &__user-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  &__user-name {
    width: calc(100% - 47px);
  }
}

@media(max-width: 1024px) {
  .leaders {
    height: auto;
    padding-bottom: 410px;

    &__row {
      display: block;
    }

    &__item {
      width: 100%;
      max-width: 353px;
      margin: 0 auto 19px;
    }

    &__title {
      font-size: 23px;
    }
  }

  .leaders-table {
    margin: 21px 0 0;

    &__item {
      min-height: 73px;

      &--num {
        width: 60px;
      }

      &--status {
        width: 60px;
      }

      &--cont {
        padding-right: 10px;
        padding-left: 17px;
      }
    }

    &__inner {
      font-size: 14px;
    }

    &__avatar {
      width: 29px;
      height: 29px;
    }
  }
}

@media(max-width: 768px) {
  .leaders {
    padding-top: 24px;
    padding-bottom: 280px;

    .category-title {
      &:before ,
      &:after {
        width: 336px;
        height: 16px;
      }

      &:before {
        top: -16px;
        background-image: url('#{$rootUrl}leaders-title-top-mob.png');
      }

      &:after {
        bottom: -9px;
        background-image: url('#{$rootUrl}leaders-title-bottom-mob.png');
      }
    }

    &__text-info {
      margin-left: auto;
      margin-right: auto;
      max-width: 330px;
    }

    &:before {
      height: 199px;
      background-size: auto 100%;
    }

    &:after {
      width: 1px;
      height: 62px;
      box-shadow: 0 0 8px #330d78;
      background-color: #4104a2;
      bottom: 177px;
    }

    &__row {
      margin: 52px 0 0;
    }
  }
}

@media(max-width: 568px) {
  .leaders {
    padding-bottom: 226px;

    &:before {
      height: 240px;
      background: url('#{$rootUrl}catagory-line-mob.png') no-repeat center;
      background-size: auto 100%;
    }

    &:after {
      bottom: 149px;
    }

    &__row {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media(max-width: 360px) {
  .leaders__item {
    padding-left: 0;
    padding-right: 0;

    &:before {
      left: 8px;
      right: 8px;
    }
  }
}
