.operations {
  max-width: 1176px;
  margin: 39px auto 110px;
  &__top {
    display: flex;
    flex-wrap: wrap;
    padding: 0 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 15px;
    color: #fff;

    p {
      margin: 0;
    }

    a {
      color: #4104a2;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .box-sh__inner {
    padding: 25px 0;
  }

  &__table {
    max-width: 1004px;
    margin: auto;

    &-tr {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 16px;
      background: url("#{$rootUrl}operations-tr.png") repeat-y center;
      background-size: 100% auto;
    }

    &-td {
      width: 33.3%;
      text-align: center;
      color: #fff;
      font-size: 16px;
      line-height: 21px;
      min-height: 21px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }

    &-header {
      background: none;
      font-weight: bold;
      margin-bottom: 35px;
    }
  }
}

@media(max-width: 768px) {
  .operations {
    margin: 30px auto 60px;
    max-width: 367px;

    &__top {
      display: none;
    }

    &__table {
      &-tr {
        background-size: auto 100%;
        padding: 0 10px;
      }
    }
  }
}
