.payment {
  margin: 35px auto 110px;
  max-width: 577px;

  &__radio {
    width: 567px;
    display: flex;
    height: 64px;
    flex-wrap: wrap;
    border-radius: 32px;
    border: 2px solid #4104a2;
    margin: 0 auto 23px;

    &-item {
      width: 50%;
      height: 64px;
      position: relative;
    }

    &-btn {
      margin: -2px 0 0;
      border-radius: 32px;
      transition: 0.3s all ease;
      text-align: center;
      line-height: 64px;
      height: 64px;
      color: #fff;
      font-size: 16px;
    }

    &-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
      z-index: 10;

      &:checked + .payment__radio-btn {
        background: #4104a2;
      }
    }
  }

  &__cont {
    padding: 61px 20px 34px;
    margin-bottom: 37px;

    h3 {
      margin: 0 0 30px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.3;
    }
  }

  &__inner {
    width: 430px;
    margin: 27px auto 0;

    .form-row-o {
      margin-bottom: 20px;

      &__input {
        padding: 0 30px;
      }
    }

    .form-row-o--btn-r {
      .form-row-o__input {
        padding-right: 220px;
      }
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
      margin: 0 5px 10px;
    }

    &__link {
      width: 63px;
      height: 50px;
      border-radius: 8px;
      background-color: #4104a2;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      transition: 0.3s all ease;

      &:hover {
        background: #4e0eb3;
      }
    }
  }

  &__info {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5625;

    .box-sh__inner {
      padding: 56px 45px;
    }

    p {
      margin: 0 0 15px;

      &:last-child {
        margin: 0;
      }
    }
  }
}

@media(max-width: 768px) {
  .payment {
    max-width: 367px;

    &__radio {
      width: 100%;
    }

    &-list {
      margin: auto;
      max-width: 290px;
    }

    &__cont {
      padding: 50px 20px 30px;
      margin-bottom: 20px;
    }

    &__inner {
      width: 100%;
    }

    .form-row-o--btn-r  {
      .btn-violet {
        width: 160px;
      }

      .form-row-o__input {
        padding-right: 190px;
      }
    }
  }
}
