.personal-area {
  display: flex;
  flex-wrap: wrap;
  max-width: 1175px;
  margin: 32px auto 110px;

  &__cont {
    width: calc(100% - 300px);

    .box-sh__inner {
      min-height: 363px;
      padding: 50px 40px;

      p {
        font-size: 18px;
        color: #fff;
        margin: 0 0 15px;
      }
    }
  }

  &__aside {
    width: 300px;
    padding-left: 30px;

    .box-sh__inner {
      padding: 15px 0;
    }
  }

  &__table {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    border-collapse: collapse;

    &:last-child {
      border-bottom: 0;
    }

    td {
      color: #ffffff;
      font-size: 16px;
      line-height: 24px;
      padding: 5px 15px;

      &:nth-child(1) {
        padding-left: 30px;
      }

      &:nth-child(2) {
        width: 110px;
        padding-right: 30px;
      }
    }

    tr:first-child {
      td {
        padding-top: 20px;
      }
    }

    tr:last-child {
      td {
        padding-bottom: 20px;
      }
    }
  }
}

@media(max-width: 1024px) {
  .personal-area {
    width: 100%;
    max-width: 367px;

    &__cont {
      width: 100%;
      margin-bottom: 25px;
      margin-top: 25px;
      order: 2;

      .box-sh__inner {
        min-height: 150px;
      }
    }

    &__aside {
      padding-left: 0;
      width: 100%;
    }
  }
}
