.regulations {
  display: flex;
  flex-wrap: wrap;
  margin: 50px -16px 0;

  &--info {
    margin-top: 0;
    padding-bottom: 54px;
    padding-top: 62px;
    border-top: 1px solid #271963;
  }

  &__item {
    padding: 0 16px;
    width: 33.3%;
    color: #fff;

    &:first-child {
      .regulations__text-footer {
        padding-left: 0;
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
        padding-left: 0;
      }
    }
  }

  &__img-w {
    position: relative;
    height: 230px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--1 {
      background-image: url('#{$rootUrl}regulations-1.png');
      width: 615px;
      height: 230px;
      left: 6px;
    }

    &--2 {
      background-image: url('#{$rootUrl}regulations-2.png');
      width: 669px;
      height: 233px;
      top: 4px;
      left: 6px;
    }

    &--3 {
      background-image: url('#{$rootUrl}regulations-3.png');
      width: 641px;
      height: 206px;
      top: 3px;
      left: -18px;
    }
  }

  &__title {
    position: relative;
    font-family: "Futura PT";
    font-size: 30px;
    font-weight: 700;
    margin: 37px 0 34px;
    padding-bottom: 15px;
    line-height: 1.2;
    min-height: 76px;

    &:before {
      position: absolute;
      left: 2px;
      bottom: 0;
      width: 75px;
      height: 1px;
      box-shadow: 0 0 6px #402477;
      background-color: #3d078b;
      display: block;
      content: '';
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 25px;
  }

  &__text-cont {
    min-height: 253px;
  }

  &__text-footer {
    border-top: 1px solid #271963;
    padding: 0 16px;
    margin: 0 -16px;
    padding-top: 62px;
  }
}

@media(max-width: 1024px) {
  .regulations {
    margin-left: 0;
    margin-right: 0;

    &__item {
      width: 50%;
    }
  }
}

@media(max-width: 768px) {
  .regulations {
    &__item {
      width: 100%;
      text-align: center;
    }

    p {
      font-size: 14px;
    }

    &__img {
      left: 50%;
      transform: translate(-50%,0);

      &--1 {
        margin-left: 160px;
      }

      &--2 {
        margin-left: 193px;
      }

      &--3 {
        margin-left: 161px;
      }
    }

    &__title {
      &:before {
        left: 50%;
        transform: translate(-50%,0);
      }
    }

    &__text-cont {
      min-height: 0;
    }
  }
}
