.settings {
  max-width: 1185px;
  margin: 26px auto 110px;

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &__item {
    margin-bottom: 27px;
    padding: 0 10px;
    width: 33.3%;

    &--center {
      .box-sh__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
    }

    h3 {
      margin: 0 0 20px;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.3;
      text-transform: uppercase;
    }

    .btn {
      width: auto;
      display: block;
      margin: 10px 12px 0;
    }
  }

  .box-sh__inner {
    min-height: 343px;
    padding: 46px 51px 15px;
  }

  &__avatar {
    position: relative;
    overflow: hidden;
    margin: -54px 0 0;

    &-img {
      width: 141px;
      height: 141px;
      background-color: #4104a2;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 100%;
      margin: auto;

      i {
        margin: 32px 0 0 32px;
      }
    }

    &-title {
      text-align: center;
      text-decoration: underline;
      color: #ffffff;
      font-size: 18px;
      line-height: 25px;
      margin: 15px 0 0;
    }

    &-input {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 200px;
      z-index: 10;
      opacity: 0;
      cursor: pointer;
    }

    &:hover {
      .settings__avatar-title {
        text-decoration: none;
      }
    }
  }
}

@media(max-width: 1200px) {
  .settings {
    max-width: 890px;

    &__item {
      width: 50%;

      &:nth-child(3) {
        order: 0;
      }

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 2;
      }

      &:nth-child(4) {
        order: 4;
      }

      &:nth-child(5) {
        order: 3;
      }

      &:nth-child(6) {
        order: 5;
      }
    }
  }
}

@media(max-width: 768px) {
  .settings {
    max-width: 367px;

    &__avatar {
      margin-top: -40px;
    }

    .box-sh__inner {
      min-height: 0;
      padding: 46px 25px 25px;
    }

    &__item {
      width: 100%;

      &--center {
        .box-sh__inner {
          min-height: 343px;
        }
      }

      &--file {
        .box-sh__inner {
          min-height: 295px;
        }
      }

      &--info {
        .box-sh__inner {
          min-height: 0;
        }
      }
    }
  }
}
