.supported-g {
  position: relative;
  margin-top: -70px;
  padding-bottom: 387px;

  .main-container {
    position: relative;
    z-index: 100;
  }

  .category-title {
    margin: 0 0 30px;
    position: relative;
    z-index: 100;

    &:before ,
    &:after {
      width: 852px;
      height: 16px;
    }

    &:before {
      top: -18px;
      background-image: url('#{$rootUrl}supported-g-title-top.png');
    }

    &:after {
      bottom: -9px;
      background-image: url('#{$rootUrl}supported-g-title-bottom.png');
    }
  }
}

.supported-games {
  display: flex;
  flex-wrap: wrap;
  margin: 90px 0 0;
  padding: 0 17px;

  &__item {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__inner {
    display: block;
    text-decoration: none;
    position: relative;

    &:before ,
    &:after {
      transition: 0.3s all ease;
      width: auto;
      height: 24px;
      position: absolute;
      bottom: 0;
      left: 3px;
      right: 3px;
      content: '';
      display: block;
      border-radius: 0 0 24px 24px;
      background-color: #141420;
    }

    &:before {
      box-shadow: 0 7px 18px rgba(255, 255, 255, 0.42);
    }

    &:after {
      box-shadow: 0 7px 18px #3b048c, 0 7px 18px #3b048c;
      opacity: 0;
    }

    &:hover {
      .supported-games__name {
        color: #4104a2;
      }

      .supported-games__img img {
        filter: grayscale(50%);
      }

      &:before {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }
    }
  }

  &__cont {
    //height: 444px;
    box-shadow: 0 27px 40px rgba(0, 0, 0, 0.38);
    border-radius: 24px;
    background-color: #12121b;
    z-index: 10;
    position: relative;
    padding-bottom: 15px;
  }

  &__img {
    border-radius: 24px 24px 0 0;
    //height: 377px;
    overflow: hidden;

    img {
      width: 100%;
      display: block;
      filter: grayscale(100%);
      transition: 0.3s all ease;
    }
  }

  &__name {
    text-align: center;
    color: #414149;
    font-family: "Futura PT";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    margin: 13px 0 0;
    transition: 0.3s all ease;
  }
}

@media (max-width: 1024px) {
  .supported-g {
    height: auto;
    padding-bottom: 300px;

    &:before {
      background: url("#{$rootUrl}mob-bg-2.jpg") no-repeat center top;
      height: 100%;
    }
  }

  .supported-games {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;

    &__item {
      width: 50%;
      margin-bottom: 40px;
    }

    &__inner {
      &:before {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }
    }
  }
}

@media(max-width: 768px) {
  .supported-g {
    height: auto;
    padding-bottom: 260px;
    padding-top: 35px;

    .category-title {
      &:before ,
      &:after {
        width: 342px;
        height: 16px;
      }

      &:before {
        top: -16px;
        background-image: url('#{$rootUrl}supported-g-title-top-mob.png');
      }

      &:after {
        bottom: -10px;
        background-image: url('#{$rootUrl}supported-g-title-bottom-mob.png');
      }
    }
  }

  .supported-games {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    margin-top: 58px;

    &__img {
      img {
        filter: grayscale(80%);
      }
    }

    &__item {
      width: 100%;
      margin-bottom: 48px;
    }
  }
}


