.survivor {
  margin: 28px auto 115px;
  max-width: 1184px;

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 17px;
  }

  &__cont {
    width: calc(100% - 302px);
    min-height: 337px;
    box-shadow: 0 27px 40px rgba(0, 0, 0, 0.38);
    background-color: #141420;
    border-radius: 24px;
    padding: 86px 40px 20px;

    .jousts__cont {
      width: 100%;

      &-inner {
        padding-right: 0;
      }
    }
  }

  &__aside {
    width: 302px;
    padding-left: 16px;

    &-inner {
      min-height: 337px;
      box-shadow: 0 27px 40px rgba(0, 0, 0, 0.38);
      background-color: #141420;
      border-radius: 24px;
      padding: 34px 38px 15px;

      .section-title {
        text-align: center;
        margin: 0 0 20px;
      }

      .btn {
        width: auto;
        margin: 0 10px;
        display: block;
      }
    }
  }

  &__info {
    position: relative;

    &:before {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 8px;
      right: 8px;
      height: 24px;
      box-shadow: 0 7px 18px #4104a2, 0 7px 18px #4104a2;
      background-color: #141420;
      border-radius: 0 0 24px 24px;
    }

    &-inner {
      min-height: 100px;
      box-shadow: 0 27px 40px rgba(0, 0, 0, 0.38);
      background-color: #141420;
      position: relative;
      z-index: 10;
      border-radius: 24px;
      padding: 58px 0;
    }
  }

  .box {
    &__inner {
      padding: 58px 0;
    }
  }

  &-table {
    .h1 {
      display: none;
    }

    &__header-title,
    &__title {
      display: none;
    }

    &__row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 87px;

      &:nth-child(even) {
        background: url("#{$rootUrl}survivor-table.png") repeat-y center;
      }
    }

    &__header {
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
      color: #4104a2;
      padding-bottom: 33px;

      .survivor-table__item--num {
        color: #fff;
      }
    }

    &__tr {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      line-height: 1.5;
      color: #fff;

      .survivor-table__item--num {
        font-weight: bold;
      }

      .text-violet {
        color: #4104a2;
      }
    }

    &__item {
      &--num {
        width: 85px;
        text-align: center;
      }

      &--info {
        width: 110px;
        text-align: center;
      }

      &--player {
        width: calc(100% - 540px);
        padding: 0 15px;
      }
    }
  }

  &-list {
    padding: 0;
    margin: -8px 0 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &__item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 50%;
      padding: 5px 15px 5px 0;
    }

    &__icons {
      width: 52px;
      position: relative;
      top: 6px;

      a {
        text-decoration: none;
      }

      i {
        margin-right: 6px;
      }
    }

    &__name {
      width: calc(100% - 52px);
      padding-left: 5px;
      color: #fff;
      font-size: 16px;
      line-height: 1.3;
    }
  }
}

@media(max-width: 1024px) {
  .survivor {
    margin-bottom: 60px;

    &__cont {
      width: 100%;
    }

    &__aside {
      padding-left: 0;
      margin: 20px auto 0;
      max-width: 100%;
    }
  }

  .survivor-table {
    &:before {
      display: none;
    }

    .h1 {
      display: block;
      text-align: center;
      padding: 0 15px;
      margin: 50px 0 15px;
    }

    &__header-title {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border-bottom: 1px solid rgba(255,255,255,0.1);
      width: auto;
      height: 66px;
      margin: 0 -25px;
      color: #4104a2;
      font-size: 22px;
      font-weight: bold;
      padding: 10px 25px;
    }

    &__title {
      display: block;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
    }

    .box-sh__inner {
      background: none;
      box-shadow: none;
      padding: 0;
    }

    &__header {
      display: none;
    }

    &__item {
      &--num {
        display: none;
      }

      &--player {
        width: 100%;
        padding: 20px 0;
      }

      &--info {
        width: auto;
        margin: 0 -25px;
        padding: 5px 25px;
        text-align: left;
        display: flex;
        flex-wrap: wrap;

        &:nth-child(even) {
          background: url("#{$rootUrl}survivor-table.png") repeat-y center;
        }

        .survivor-table__item--text {
          margin-left: auto;
        }
      }
    }

    &__tr {
      box-shadow: 0 27px 40px rgba(0,0,0,.38);
      background: #141420!important;
      border-radius: 24px;
      padding: 0 25px 25px;
      margin: 0 auto 25px;
      max-width: 500px;
      display: block;
    }
  }

  .survivor-list {
    margin: 15px 0 0;

    &__item {
      width: 100%;
    }
  }
}

@media(max-width: 610px) {
  .survivor {
    &__cont {
      margin-left: auto;
      margin-right: auto;
      max-width: 335px;
    }

    &__aside {
      width: 335px;
      max-width: 100%;
    }
  }

  .survivor-table__tr {
    max-width: 335px;
  }
}
