.tournaments {
  padding-top: 0;
  padding-bottom: 374px;
  margin-top: -75px;
  position: relative;

  &:after {
    width: 100%;
    height: 373px;
    display: block;
    content: '';
    background: url("#{$rootUrl}catagory-line.png") no-repeat center top;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .main-container {
    position: relative;
    z-index: 100;
  }

  .category-title {
    position: relative;
    z-index: 100;

    &:before ,
    &:after {
      width: 346px;
      height: 16px;
    }

    &:before {
      top: -18px;
      background-image: url('#{$rootUrl}tournaments-top.png');
    }

    &:after {
      bottom: -9px;
      background-image: url('#{$rootUrl}tournaments-bottom.png');
    }
  }

  &__more {
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-decoration: none;
    line-height: 30px;
    padding: 0 15px;
    margin: 43px 0 0;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.3s all ease;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: block;
      content: '';
      width: 225px;
      height: 90px;
      background: url("#{$rootUrl}tournaments-more.png") no-repeat center;
      background-size: cover;
    }

    &:hover {
      color: #6b3fb1;
    }
  }
}

.tourney-slider {
  margin: 53px 7px 0;
  list-style: none;
  padding: 0;

  .slick-list {
    padding: 20px 10px;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    width: 33px;
    height: 62px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s all ease;
    margin-top: -31px;

    &:hover {
      opacity: 1;
    }

    &--prev {
      background-image: url("#{$rootUrl}angle-l.png");
      left: -40px;
    }

    &--next {
      background-image: url("#{$rootUrl}angle-r.png");
      right: -40px;
    }
  }

  &__item {
    padding: 0 20px 20px;
    position: relative;

    &:before {
      position: absolute;
      bottom: 20px;
      left: 25px;
      right: 25px;
      height: 24px;
      box-shadow: 0 7px 18px #3b048c, 0 7px 18px #3b048c;
      border-radius: 0 0 20px 20px;
      display: block;
      content: '';
    }
  }

  &__inner {
    border-radius: 20px;
    height: 603px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.38);
    background-color: #141420;
    position: relative;
    z-index: 10;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
  }

  &__img {
    height: 233px;
    border-radius: 20px 20px 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 -15px;
    position: relative;
  }

  &__label {
    position: absolute;
    bottom: 19px;
    right: 18px;
    height: 29px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 29px;
    padding: 0 12px;
    min-width: 67px;
    text-align: center;

    &--green {
      background-color: #52da09;
    }

    &--blue {
      background-color: #09a6da;
    }

    &--red {
      background-color: #da4409;
    }
  }

  &__title {
    margin: 22px 0 7px;
    font-family: 'Futura PT';
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.5px;
  }

  &__category {
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
  }

  &__price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 28px -15px 0;
    padding: 0 36px;
    height: 80px;
    border-top: 1px solid #22222d;
    border-bottom: 1px solid #22222d;

    &-item {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      color: #fff;
      letter-spacing: 0.5px;
      flex: 0 0 auto;
      width: auto;
      max-width: 50%;

      &:nth-child(2) {
        margin-left: auto;
      }

      span {
        color: #4104a2;
      }
    }
  }

  &__players {
    margin: 22px 0 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5625;
    letter-spacing: 0.5px;
  }

  &__btn {
    width: 284px;
    height: 56px;
    line-height: 56px;
    display: block;
    margin: 32px auto 0;
  }
}

@media(max-width: 1350px) {
  .tourney-slider {
    padding: 0 30px;
    &__arrow {
      &--next {
        right: 0;
      }

      &--prev {
        left: 0;
      }
    }

    &__btn {
      width: 260px;
    }
  }
}

@media(max-width: 1200px) {
  .tourney-slider {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media(max-width: 992px) {
  .tournaments {
    padding-bottom: 329px;
  }
}

@media(max-width: 900px) {
  .tournaments {
    padding-bottom: 305px;
  }
  .tourney-slider {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    &__arrow {
      width: 16px;
      height: 31px;

      &--next {
        right: -10px;
      }

      &--prev {
        left: -10px;
      }
    }

    &__title {
      font-size: 26px;
      margin: 20px 0 8px;
    }

    &__category {
      font-size: 14px;
    }

    &__price{
      height: 71px;
      margin-top: 22px;

      &-item {
        font-size: 14px;
      }
    }

    &__inner {
      height: 530px;
    }

    &__img {
      height: 200px;
    }

    &__players {
      font-size: 14px;
      margin-top: 20px;
    }

    &__btn {
      width: 226px;
      margin-top: 23px;
      line-height: 50px;
      font-size: 14px;
      font-weight: 500;

      .btn__inner {
        height: 50px;
        border-radius: 50px;
      }

      &:before ,
      &:after {
        height: 50px;
        width: 40px;
      }

      &:before {
        border-radius: 50px 0 0 50px;
        left: -13px;
      }

      &:after {
        right: -13px;
        border-radius: 0 50px 50px 0;
      }
    }
  }
}

@media(max-width: 768px) {
  .tournaments {
    margin-top: 0;
    padding-bottom: 200px;
    height: auto;

    &:after {
      height: 199px;
      background-size: auto 100%;
    }

    .category-title {
      &:before ,
      &:after {
        width: 142px;
        height: 13px;
      }

      &:before {
        top: -16px;
        background-image: url('#{$rootUrl}tournaments-title-top-mob.png');
      }

      &:after {
        bottom: -9px;
        background-image: url('#{$rootUrl}tournaments-title-bottom-mob.png');
      }
    }
  }
}

@media(max-width: 568px) {
  .tourney-slider {
    margin-top: 23px;
  }

  .tournaments {
    padding-bottom: 184px;

    &:after {
      height: 240px;
      background: url('#{$rootUrl}catagory-line-mob.png') no-repeat center;
      background-size: auto 100%;
    }

    &__more {
      margin-top: 23px;
    }
  }
}

@media(max-width: 450px) {
  .tourney-slider {
    &__arrow {
      &--next {
        right: -5px;
      }

      &--prev {
        left: -5px;
      }
    }
  }
}


@media(max-width: 400px) {
  .tournaments {
    &__more {
      margin-top: 43px;
    }
  }

  .tourney-slider {
    width: auto;
    margin-left: -15px;
    margin-right: -15px;

    .slick-dots {
      position: absolute;
      display: block!important;
      width: 100%;
      bottom: -21px;
      z-index: 100;
      text-align: center;
      padding: 0;
      margin: 0;
      list-style: none;

      button {
        overflow: hidden;
        text-indent: -999px;
        background: #fff;
        transition: 0.3s all ease;
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        padding: 0;
        margin: 0;
        outline: 0;
        border: 0;
        cursor: pointer;

        &:hover {
          background: #eee;
        }
      }

      li {
        margin: 0 5px;
        display: inline-block;
        vertical-align: top;

        &.slick-active {
          button {
            background: #d82e67;
          }
        }
      }
    }
  }
}

@media(max-width: 320px) {
  .tourney-slider {
    margin-left: -25px;
    margin-right: -25px;

    &__btn {
      width: 200px;
    }
  }
}
