.welcome {
  margin: 101px 0 0;
  position: relative;
  padding-bottom: 237px;
  overflow: hidden;
  z-index: 10;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 373px;
    position: absolute;
    left: 0;
    bottom: 6px;
    background: url("#{$rootUrl}welcome-bottom.png") no-repeat center;
    background-size: cover;
    z-index: 20;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url("#{$rootUrl}welcome-bg.jpg") no-repeat center top;
    //background-size: cover;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.56;
  }

  &__slider {
    .slick-dots {
      display: none!important;
    }

    &-item {
      height: 750px;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      outline: 0!important;
    }
  }

  &__arrow {
    position: absolute;
    top: 29px;
    width: 33px;
    height: 62px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s all ease;

    &:hover {
      opacity: 1;
    }

    &--prev {
      background-image: url("#{$rootUrl}angle-l.png");
      left: 110px;
    }

    &--next {
      background-image: url("#{$rootUrl}angle-r.png");
      right: 110px;
    }
  }

  &__cont {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1260px;
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 50;
    text-align: center;

    p {
      color: #fff;
      font-size: 22px;
      line-height: 1.2;
      font-weight: 400;
      margin: 0;
    }
  }

  &__title {
    font-family: 'Bebas Neue';
    color: #fff;
    font-size: 84px;
    position: relative;
    font-weight: bold;
    margin: 0 0 19px;
    text-shadow:
      2px  2px 0 #434343,
      -2px -2px 0 #434343,
      2px -2px 0 #434343,
      -2px  2px 0 #434343,
      2px  2px 0 #434343;

    &:before {
      display: block;
      content: '';
      width: 945px;
      height: 115px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background: url("#{$rootUrl}wt.png") no-repeat center;
      background-size: cover;
      margin-top: -5px;
    }
  }

  &__btn {
    margin-top: 60px;
  }

  .btn {
    width: 270px;
  }

  &__s-nav {
    .slick-list {
      overflow: visible;
    }

    &-item {

    }

    .slick-active {
      .welcome__title {
        animation: fadeInDownBig 1.5s;
        opacity: 1;
      }

      .welcome__btn {
        animation: fadeInUpBig 1.5s;
        opacity: 1;
      }

      .welcome__s-nav-item {
        p {
          animation: fadeInLeft 2s;
          opacity: 1;
        }
      }
    }
  }

  &__mouse {
    width: 15px;
    height: 27px;
    background: url("#{$rootUrl}mouse.png") no-repeat center;
    background-size: cover;
    position: absolute;
    left: 50%;
    bottom: 270px;
    z-index: 30;
    margin-left: -7.5px;

    &:before {
      width: 1px;
      height: 31px;
      display: block;
      content: '';
      background: #fff;
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin: 0 0 20px 0;
      transform: translate(-50%,0);
    }
  }
}

@media(max-width: 1200px) {
  .welcome {
    &__slider-item {
      height: 600px;
    }

    &__arrow {
      top: 23px;
      //&--next {
      //  right: 60px;
      //}
      //
      //&--prev {
      //  left: 60px;
      //}
    }

    &__cont {
      top: 239px;

      p {
        font-size: 18px;
      }
    }

    &__btn {
      margin-top: 40px;
    }

    &__title {
      font-size: 74px;
      margin: 0 0 5px;

      &:before {
        width: 100%;
        height: 100px;
        background-size: auto 100%;
        margin-top: -3px;
      }
    }
  }
}

@media(max-width: 1024px) {
  .welcome {
    margin-top: 60px;

    &__mouse {
      display: none;
    }

    &__slider {
      .slick-dots {
        position: absolute;
        display: block!important;
        width: 100%;
        bottom: 20px;
        z-index: 100;
        text-align: center;
        padding: 0;
        margin: 0;
        list-style: none;

        button {
          overflow: hidden;
          text-indent: -999px;
          background: #fff;
          transition: 0.3s all ease;
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          padding: 0;
          margin: 0;
          outline: 0;
          border: 0;
          cursor: pointer;

          &:hover {
            background: #eee;
          }
        }

        li {
          margin: 0 5px;
          display: inline-block;
          vertical-align: top;

          &.slick-active {
            button {
              background: #d82e67;
            }
          }
        }


      }
    }

    &__arrow {
      display: none!important;
    }
  }
}

@media(max-width: 768px) {
  .welcome {
    margin-top: 90px;

    &:before,
    &:after {
      background-size: 1024px auto;
    }

    &:before {
      bottom: 32px;
    }

    &__slider {
      &-item {
        height: 450px;
      }
    }

    &__cont {
      top: 100px;

      p {
        span {
          display: block;
        }
      }
    }

    &__title {
      text-shadow: none;
      font-size: 52px;
      line-height: 1.2;

      span {
        display: block;
      }

      &:before {
        display: none;
      }
    }

    .btn {
      width: 240px;
    }
  }
}

@media(max-width: 568px) {
  .welcome {
    &:before,
    &:after {
      background-size:940px auto;
    }
  }
}
