.page-content
  .main-container
    .title-group
      h1.h1 FAQ
    ul.faq
      li.faq__item
        h3.faq__title Что делать если я не понимаю ничего?
        p Вы можете обратится в нашу службу поддержки в Discord
      li.faq__item
        h3.faq__title Могу ли я участвовать в турнирах, если мне нет 18 лет?
        p Да, можете
      li.faq__item
        h3.faq__title Является ли это законным?
        p Поскольку игры/турниры, которые у нас играют на денежные призы, - это игры умения (skill games), а не азартные игры, это законно.
      li.faq__item
        h3.faq__title Сколько стоит участие в турнире
        p Участие в турнире стоит 1-2$
      li.faq__item
        h3.faq__title Могу ли я принять участие в турнире?
        p Если вы уверены в своих игровых способностях то вам нужно испытать себя в наших соревнованиях!
      li.faq__item
        h3.faq__title Буду ли я играть против других участников турнира?
        p Нет, вы будете играть 3 привычные игры в PUBG с указанными в турнире настройками.
        p Не стоит забывать, что на все игры дается 2 часа после регистрации
      li.faq__item
        h3.faq__title Могу ли я присоединиться к нескольким турнирам одновременно?
        p Есть 3 турнира к которым вы можете присоединиться и играть одновременно 3 матча, которые вы играете, будут засчитываться в каждом из них Это даст вам больше шансов выиграть приз, так как вы сможете выиграть до $ 330 в течение двух часов, сыграв всего 3 матча.
        p Примечание: вам нужно выиграть #1 в трех турнирах, чтобы получить $330
      li.faq__item
        h3.faq__title Почему результата моей игры нет в турнирной таблице?
        p Результаты в турнирной таблице появляются с задержкой около 20 минут.
        p Если прошло уже на порядок больше времени, а информации все нет, то обратитесь к нам с этой проблемой.
      li.faq__item
        h3.faq__title Когда я смогу заказать выплату на свой счет?
        p Минимальная сумма выплаты на текущий момент составляет 30$.
        p Как только данная сумма окажется на вашем счету, будет доступен вывод средств.
      li.faq__item
        h3.faq__title Могу ли я использовать криптовалюту для пополнения счета?
        p Нет, но мы работаем над этим.
