.page-content
  .main-container
    .title-group
      h1.h1 Функции
      p Участвуй в турнирах и выигрывай денежные призы
      .page-video
        iframe(src="https://www.youtube.com/embed/_lVIk1oNKyo"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    ul.functions
      li.functions__item
        .functions__col.functions__img-w
            img(src="img/pic-10.png" alt="").functions__img.functions__img--1
        .functions__col.functions__text-cont
          h3.functions__title Основанные на личном скилле
          p Проверьте, насколько Вы хороши! Сделайте ставку на себя. Выберите режим: Итоговое место, Урон или Убийства. Сыграйте 3 игры в PUBG с указанными настройками. Выложитесь на полную для наилучшего результата. Топ 10 участников получают призы до 100$
      li.functions__item
        .functions__col.functions__text-cont
          h3.functions__title Вывод призовых средств
          p!="Быстрый вывод на выбранный вами счет <br> Возможность вывести деньги после первой победы <br> Доступен вывод денег на QIWI и Яндекс!"
        .functions__col.functions__img-w
          img(src="img/pic-11.png" alt="").functions__img.functions__img--2
      li.functions__item
        .functions__col.functions__img-w
          img(src="img/pic-12.png" alt="").functions__img.functions__img--3
        .functions__col.functions__text-cont
          h3.functions__title Выше скилл - Больше награда
          p!="Стоимость участия в турнире 2$ <br>В турнире есть возможность выиграть до 100$ <br>10 игроков из 100 получают призы. <br>Игроки на первых 5 позициях рейтинга зарабатывают. <br>6-10 места возвращают свой первоначальный взнос."
      li.functions__item
        .functions__col.functions__text-cont
          h3.functions__title Равные условия для всех
          p!="Подбор турниров с учетом статистики. <br>Если вы профи, то будете играть только с сильными игроками. <br>Если вы новичок, то вы будете играть с такими же новичками. <br>Чем больше вы будете играть, тем проще будет получать призы."
        .functions__col.functions__img-w
          img(src="img/pic-13.png" alt="").functions__img.functions__img--4




