.page-content
  .main-container
    .title-group
      h1.h1 Турниры
    ul.tabs
      li.tabs__item
        a(href="").tabs__btn.tabs__btn--active Все режимы
      li.tabs__item
        a(href="").tabs__btn SOLO
      li.tabs__item
        a(href="").tabs__btn DUO
      li.tabs__item
        a(href="").tabs__btn SQUAD
      //li.tabs__item
      //  a(href="").tabs__btn Экспресс матчи
      //li.tabs__item
      //  a(href="").tabs__btn Аркада
    .jousts
      .jousts__item
        .jousts__inner
          .jousts__cont
            .jousts__avatar(style="background-image: url(img/pic-14.jpg);")
              .jousts__label.jousts__label--green SOLO
            .jousts__cont-inner
              h3.jousts__title PUBG Выживший
              ul.jousts__info
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-people
                  span.jousts__info-name 1 / 100 Участников
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-match
                  span.jousts__info-name 3 Матча
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-eye
                  span.jousts__info-name DUOEU
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-win
                  span.jousts__info-name 10 Победителей
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-time
                  span.jousts__info-name 2 Часа
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-lang
                  span.jousts__info-name RU/NA/AS
              .jousts__footer-btn
                a(href="").btn.btn--mini
                  span.btn__inner Перейти
                br
                a(href="").jousts__leaders-btn Смотреть призовые места
          .jousts__leaders
            table
              tr
                td 1 место
                td 30$
              tr
                td 2 место
                td 20$
              tr
                td 3 место
                td 15$
              tr
                td 4 место
                td 10$
              tr
                td 5 место
                td 5$
              tr
                td 6-10 место
                td 6-10 место
      .jousts__item
        .jousts__inner
          .jousts__cont
            .jousts__avatar(style="background-image: url(img/pic-15.jpg);")
              .jousts__label.jousts__label--blue DUO
            .jousts__cont-inner
              h3.jousts__title PUBG Выживший
              ul.jousts__info
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-people
                  span.jousts__info-name 1 / 100 Участников
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-match
                  span.jousts__info-name 3 Матча
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-eye
                  span.jousts__info-name DUOEU
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-win
                  span.jousts__info-name 10 Победителей
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-time
                  span.jousts__info-name 2 Часа
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-lang
                  span.jousts__info-name RU/NA/AS
              .jousts__footer-btn
                a(href="").btn.btn--mini
                  span.btn__inner Перейти
                br
                a(href="").jousts__leaders-btn Смотреть призовые места
          .jousts__leaders
            table
              tr
                td 1 место
                td 30$
              tr
                td 2 место
                td 20$
              tr
                td 3 место
                td 15$
              tr
                td 4 место
                td 10$
              tr
                td 5 место
                td 5$
              tr
                td 6-10 место
                td 6-10 место
      .jousts__item
        .jousts__inner
          .jousts__cont
            .jousts__avatar(style="background-image: url(img/pic-16.jpg);")
              .jousts__label.jousts__label--red SQUAD
            .jousts__cont-inner
              h3.jousts__title PUBG Выживший
              ul.jousts__info
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-people
                  span.jousts__info-name 1 / 100 Участников
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-match
                  span.jousts__info-name 3 Матча
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-eye
                  span.jousts__info-name DUOEU
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-win
                  span.jousts__info-name 10 Победителей
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-time
                  span.jousts__info-name 2 Часа
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-lang
                  span.jousts__info-name RU/NA/AS
              .jousts__footer-btn
                a(href="").btn.btn--mini
                  span.btn__inner Перейти
                br
                a(href="").jousts__leaders-btn Смотреть призовые места
          .jousts__leaders
            table
              tr
                td 1 место
                td 30$
              tr
                td 2 место
                td 20$
              tr
                td 3 место
                td 15$
              tr
                td 4 место
                td 10$
              tr
                td 5 место
                td 5$
              tr
                td 6-10 место
                td 6-10 место
