.page-content
  .main-container
    .title-group
      h1.h1 Модалы
      .text-center(style="margin:30px 0;")
        a(href="#registration").btn.btn--small.modal-btn
          span.btn__inner Регистрация
        br
        br
        a(href="#participate").btn.btn--small.modal-btn
          span.btn__inner Инфо
        br
        br
        a(href="#completion").btn.btn--small.modal-btn
          span.btn__inner Инфо 2
        br
        br
        a(href="#timer-modal").btn.btn--small.modal-btn
          span.btn__inner Таймер
        br
        br
        a(href="#pubg").btn.btn--small.modal-btn
          span.btn__inner pubg
