.page-content
  .main-container
    .title-group
      h1.h1 Привет, player
    ul.tabs
      li.tabs__item
        a(href="").tabs__btn Личный кабинет
      li.tabs__item
        a(href="").tabs__btn.tabs__btn--active Операции
      li.tabs__item
        a(href="").tabs__btn Оплата
      li.tabs__item
        a(href="").tabs__btn Настройки
    .operations
      .operations__top
        .col-auto
          p Все операции вашего аккаунта
        .col-auto.ml-auto
          a(href="") Поддержка
      .box-sh
        .box-sh__inner
          .operations__table
            .operations__table-tr.operations__table-header
              .operations__table-td Описание
              .operations__table-td Сумма
              .operations__table-td Дата
            .operations__table-tr
              .operations__table-td Участие в турнире
              .operations__table-td 2$
              .operations__table-td 21.02.20202
            .operations__table-tr
              .operations__table-td Участие в турнире
              .operations__table-td 2$
              .operations__table-td 21.02.20202
            .operations__table-tr
              .operations__table-td Участие в турнире
              .operations__table-td 2$
              .operations__table-td 21.02.20202
            .operations__table-tr
              .operations__table-td Участие в турнире
              .operations__table-td 2$
              .operations__table-td 21.02.20202
            .operations__table-tr
              .operations__table-td Участие в турнире
              .operations__table-td 2$
              .operations__table-td 21.02.20202
            .operations__table-tr
              .operations__table-td Участие в турнире
              .operations__table-td 2$
              .operations__table-td 21.02.20202
