.page-content
  .main-container
    .title-group
      h1.h1 Привет, player
    ul.tabs
      li.tabs__item
        a(href="").tabs__btn Личный кабинет
      li.tabs__item
        a(href="").tabs__btn Операции
      li.tabs__item
        a(href="").tabs__btn.tabs__btn--active Оплата
      li.tabs__item
        a(href="").tabs__btn Настройки
    .payment
      form
        .payment__radio
          .payment__radio-item
            input(type="radio" name="payment").payment__radio-input
            .payment__radio-btn Пополнить
          .payment__radio-item
            input(type="radio" name="payment" checked).payment__radio-input
            .payment__radio-btn Вывести
        .box.payment__cont
          h3 Методы вывода денег
          ul.payment-list
            li.payment-list__item
              a(href="").payment-list__link
                i.payment-list__icon.icon-qiwi
            li.payment-list__item
              a(href="").payment-list__link
                i.payment-list__icon.icon-visa
            li.payment-list__item
              a(href="").payment-list__link
                i.payment-list__icon.icon-master-card
            li.payment-list__item
              a(href="").payment-list__link
                i.payment-list__icon.icon-maestro
            li.payment-list__item
              a(href="").payment-list__link
                i.payment-list__icon.icon-mir
            li.payment-list__item
              a(href="").payment-list__link
                i.payment-list__icon.icon-cellular
          .payment__inner
            .form-row-o
              input(type="text" placeholder="Введете номер счета").form-row-o__input
            .form-row-o.form-row-o--btn-r
              input(type="text" value="1$").form-row-o__input
              a(href="").btn-violet Вывести
        .box-sh.payment__info
          .box-sh__inner
            p Если вы примете участие в любых формах обмана, мошенничества или использования каких-либо программных или системных ошибок или сбоев, то ваш вывод может быть отложен, и любые выигрыши, связанные с таким злоупотреблением, могут быть удержаны.
