.page-content
  .main-container
    .title-group
      h1.h1 Привет, player
    ul.tabs
      li.tabs__item
        a(href="").tabs__btn.tabs__btn--active Личный кабинет
      li.tabs__item
        a(href="").tabs__btn Операции
      li.tabs__item
        a(href="").tabs__btn Оплата
      li.tabs__item
        a(href="").tabs__btn Настройки
    .personal-area
      .personal-area__cont
        .box-sh
          .box-sh__inner
            p.text-center Вы еще не участвовали ни в одном турнире.
      .personal-area__aside
        .box-sh
          .box-sh__inner
            table.personal-area__table
              tr
                td Player
                td
                  a(href="")
                    i.icon-settings
              tr
                td Баланс:
                td 100$
            table.personal-area__table
              tr
                td Аккаунт:
                td Player
              tr
                td Участий:
                td 0
              tr
                td Побед:
                td 0
              tr
                td Убийств:
                td 0
              tr
                td Урона:
                td 0
              tr
                td Заработано
                td 0$







