.page-content
  .main-container
    .title-group
      h1.h1 Правила
      p Уверен в своих силах?  Учавствуй! Получай призы!
    ul.tabs
      li.tabs__item
        a(href="").tabs__btn.tabs__btn--active Турниры
      //li.tabs__item
      //  a(href="").tabs__btn экспресс матчи
      //li.tabs__item
      //  a(href="").tabs__btn аркада
    .regulations
      .regulations__item
        .regulations__img-w
          .regulations__img.regulations__img--1
        h3.regulations__title Убийца
        .regulations__text-cont
          p Убийца - совершите как можно больше убийств, победители будут выбраны по наибольшему количеству убитых соперников. Если же, кто-то сделает ровно такое же количество убйиств как у вас, победитель будет определен по нанесеному урону. Чем больше убийств, тем больше награда! Будьте мастером!Убейте всех до одного!
      .regulations__item
        .regulations__img-w
          .regulations__img.regulations__img--2
        h3.regulations__title Максимальный урон
        .regulations__text-cont
          p Максимальный урон - необходимо нанести как можно больше урона по соперникам. Победители будут определенны по наибольшему нанесенному урону
          p Вам всего лишь надо нанести противникам максимум урона. Необязательно его убивать.
      .regulations__item
        .regulations__img-w
          .regulations__img.regulations__img--3
        h3.regulations__title Выживший
        .regulations__text-cont
          p Выживший - вам необходимо играть очень осторожно и стараться выжить. Не важно сколько урона вы нанесете и не важно количество убийств. Ваша цель выжить и пробраться к ТОП#1
          p В королевской битве нет друзей..

    .regulations.regulations--info
      .regulations__item
        p На текущий момент доступны три режима турниров, где вы должны надеяться только на свои умения. После того как вы нажмете кнопку "Участвовать" пойдет обратный отсчет.
      .regulations__item
        p Денежные вознаграждения получают участники занявшие 1-5 места. С 6-10 места, возвращают свой взнос.
      .regulations__item
        p Выигрыши начисляются только после того как 90-100 участников отыграют свои матчи, либо когда у них закончится время.
