.page-content
  .main-container
    .title-group
      h1.h1 Привет, player
    ul.tabs
      li.tabs__item
        a(href="").tabs__btn Личный кабинет
      li.tabs__item
        a(href="").tabs__btn Операции
      li.tabs__item
        a(href="").tabs__btn Оплата
      li.tabs__item
        a(href="").tabs__btn.tabs__btn--active Настройки
    .settings
      .settings__row
        .settings__item
          .box-sh
            .box-sh__inner
              h3 Сменить пароль
              .form-row-o
                input(type="password" placeholder="Ваш текущий пароль").form-row-o__input
              .form-row-o
                input(type="password" placeholder="Новый пароль").form-row-o__input
              .form-row-o
                input(type="password" placeholder="Повторите новый пароль").form-row-o__input
              .form-row-o
                a(href="").btn.btn--medium
                  span.btn__inner Ок
        .settings__item
          .box-sh
            .box-sh__inner
              h3 Для стримеров
              .form-row-o
                input(type="text" placeholder="Ссылки на Youtube").form-row-o__input
              .form-row-o
                input(type="text" placeholder="Ссылки на Twich").form-row-o__input
              .form-row-o
                a(href="").btn.btn--medium
                  span.btn__inner Ок
        .settings__item.settings__item--center.settings__item--file
          .box-sh
            .box-sh__inner
              .settings__avatar
                input(type="file").settings__avatar-input
                .settings__avatar-img
                  i.icon-user
                .settings__avatar-title Загрузить аватар
        .settings__item
          .box-sh
            .box-sh__inner
              h3 Обратиться в поддержку
              .form-row-o
                a(href="").btn.btn--medium
                  span.btn__inner Обратиться
        .settings__item
          .box-sh
            .box-sh__inner
              h3 Ваше имя
              .form-row-o
                input(type="text" placeholder="Сменить имя").form-row-o__input
              .form-row-o
                a(href="").btn.btn--medium
                  span.btn__inner Ок
              .form-row-o
                p.hint
                  span Внимание:
                  !=" "
                  |Вы можете менять username PUBG не чаще чем раз в месяц.
        .settings__item.settings__item--center.settings__item--info
          .box-sh
            .box-sh__inner
              p.hint.m-0
                span!="Примечание: "
                | Указывайте ваш личный username PUBG, иначе мы можем отказать вам в пользовании нашего сервиса
