.page-content
  .main-container
    .title-group
      h1.h1 Выживший
    .survivor
      .survivor__row
        .survivor__cont
          .jousts__cont
            .jousts__avatar(style="background-image: url(img/pic-14.jpg);")
              .jousts__label.jousts__label--green SOLO
            .jousts__cont-inner
              h3.jousts__title PUBG Выживший
              ul.jousts__info
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-people
                  span.jousts__info-name 1 / 100 Участников
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-match
                  span.jousts__info-name 3 Матча
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-eye
                  span.jousts__info-name DUOEU
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-win
                  span.jousts__info-name 10 Победителей
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-time
                  span.jousts__info-name 2 Часа
                li.jousts__info-item
                  span.jousts__info-icon
                    i.icon-lang
                  span.jousts__info-name RU/NA/AS
        .survivor__aside
          .survivor__aside-inner
            h3.section-title Ваш username PUBG
            form.survivor__form
              .form-row
                input(type="text" value="Playername1").form-row__input
              .form-row
                input(type="text" value="Playername2").form-row__input
              .form-row
                input(type="text" value="Playername3").form-row__input
              .form-row
                input(type="text" value="Playername1").form-row__input
              .form-row
                a(href="").btn.btn--small
                  span.btn__inner Участвовать
      .box-sh.survivor-table
        .h1 Турнирная таблица
        .box-sh__inner
          .survivor-table__row.survivor-table__header
            .survivor-table__item.survivor-table__item--num №
            .survivor-table__item.survivor-table__item--player Пользователь
            .survivor-table__item.survivor-table__item--info Матчи
            .survivor-table__item.survivor-table__item--info Место
            .survivor-table__item.survivor-table__item--info Убийства
            .survivor-table__item.survivor-table__item--info Урон
          .survivor-table__row.survivor-table__tr
            .survivor-table__header-title 1 - место
            .survivor-table__item.survivor-table__item--num 1
            .survivor-table__item.survivor-table__item--player
              .survivor-table__title Пользователь
              ul.survivor-list
                li.survivor-list__item
                  .survivor-list__icons
                    a(href="")
                      i.icon-yt
                    a(href="")
                      i.icon-chat
                  .survivor-list__name player1; player1; player1; player1;
                li.survivor-list__item
                  .survivor-list__icons
                    a(href="")
                      i.icon-yt
                    a(href="")
                      i.icon-chat
                  .survivor-list__name player2;
                li.survivor-list__item
                  .survivor-list__icons
                    a(href="")
                      i.icon-yt
                    a(href="")
                      i.icon-chat
                  .survivor-list__name player3;
                li.survivor-list__item
                  .survivor-list__icons
                    a(href="")
                      i.icon-yt
                    a(href="")
                      i.icon-chat
                  .survivor-list__name player4;
            .survivor-table__item.survivor-table__item--info
              .survivor-table__title Матчи
              .survivor-table__item--text 3
            .survivor-table__item.survivor-table__item--info
              .survivor-table__title Место
              .survivor-table__item--text 43
            .survivor-table__item.survivor-table__item--info
              .survivor-table__title Убийства
              .survivor-table__item--text 10
            .survivor-table__item.survivor-table__item--info
              .survivor-table__title Урон
              .survivor-table__item--text 895
          .survivor-table__row.survivor-table__tr
            .survivor-table__header-title 2 - место
            .survivor-table__item.survivor-table__item--num 2
            .survivor-table__item.survivor-table__item--player
              .survivor-table__title Пользователь
              ul.survivor-list
                li.survivor-list__item
                  .survivor-list__icons
                    a(href="")
                      i.icon-yt
                    a(href="")
                      i.icon-chat
                  .survivor-list__name player1; player1; player1; player1;
                li.survivor-list__item
                  .survivor-list__icons
                    a(href="")
                      i.icon-yt
                    a(href="")
                      i.icon-chat
                  .survivor-list__name player2;
                li.survivor-list__item
                  .survivor-list__icons
                    a(href="")
                      i.icon-yt
                    a(href="")
                      i.icon-chat
                  .survivor-list__name player3;
                li.survivor-list__item
                  .survivor-list__icons
                    a(href="")
                      i.icon-yt
                    a(href="")
                      i.icon-chat
                  .survivor-list__name player4;
            .survivor-table__item.survivor-table__item--info
              .survivor-table__title Матчи
              .survivor-table__item--text 3
            .survivor-table__item.survivor-table__item--info
              .survivor-table__title Место
              .survivor-table__item--text 43
            .survivor-table__item.survivor-table__item--info
              .survivor-table__title Убийства
              .survivor-table__item--text 10
            .survivor-table__item.survivor-table__item--info
              .survivor-table__title Урон
              .survivor-table__item--text 895
          .survivor-table__row.survivor-table__tr
            .survivor-table__header-title 3 - место
            .survivor-table__item.survivor-table__item--num 3
            .survivor-table__item.survivor-table__item--player
              .survivor-table__title Пользователь
              ul.survivor-list
                li.survivor-list__item
                  .survivor-list__icons
                    a(href="")
                      i.icon-yt
                    a(href="")
                      i.icon-chat
                  .survivor-list__name player1; player1; player1; player1;
                li.survivor-list__item
                  .survivor-list__icons
                    a(href="")
                      i.icon-yt
                    a(href="")
                      i.icon-chat
                  .survivor-list__name player2;
                li.survivor-list__item
                  .survivor-list__icons
                    a(href="")
                      i.icon-yt
                    a(href="")
                      i.icon-chat
                  .survivor-list__name player3;
                li.survivor-list__item
                  .survivor-list__icons
                    a(href="")
                      i.icon-yt
                    a(href="")
                      i.icon-chat
                  .survivor-list__name player4;
            .survivor-table__item.survivor-table__item--info
              .survivor-table__title Матчи
              .survivor-table__item--text 3
            .survivor-table__item.survivor-table__item--info
              .survivor-table__title Место
              .survivor-table__item--text 43
            .survivor-table__item.survivor-table__item--info
              .survivor-table__title Убийства
              .survivor-table__item--text 10
            .survivor-table__item.survivor-table__item--info
              .survivor-table__title Урон
              .survivor-table__item--text 895
