.btn-s {
  width: 300px;
  height: 59px;
  background: url("#{$rootUrl}btns.png") no-repeat center;
  background-size: cover;
  color: #fff;
  text-align: center;
  line-height: 59px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s all ease;
  font-size: 16px;
  letter-spacing: 0.5px;

  &:hover,
  &:active,
  &:focus {
    transform: scale(1.02);
  }

  &--small {
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.3px;
    width: 152px;
    height: 30px;

    &:hover,
    &:active,
    &:focus {
      transform: scale(1.03);
    }
  }
}

.btn {
  color: #fff;
  text-align: center;
  line-height: 59px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  position: relative;
  z-index: 2;

  &__inner {
    position: relative;
    z-index: 10;
    padding: 0 40px;
    border-radius: 59px;
    background: -moz-linear-gradient(left,  rgba(156,251,254,1) 0%, rgba(14,237,254,1) 10%, rgba(108,165,199,1) 25%, rgba(232,119,174,1) 40%, rgba(255,149,200,1) 50%, rgba(216,46,103,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(156,251,254,1) 0%,rgba(14,237,254,1) 10%,rgba(108,165,199,1) 25%,rgba(232,119,174,1) 40%,rgba(255,149,200,1) 50%,rgba(216,46,103,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(156,251,254,1) 0%,rgba(14,237,254,1) 10%,rgba(108,165,199,1) 25%,rgba(232,119,174,1) 40%,rgba(255,149,200,1) 50%,rgba(216,46,103,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 200% auto;
    transition:.7s ease-in-out;
    height: 59px;
    display: block;
  }

  &:before ,
  &:after {
    content: '';
    display: block;
    height: 59px;
    width: 50px;
    position: absolute;
    top: 0;
    transition: 0.5s all ease;
    z-index: 1;
  }

  &:before {
    background: -moz-linear-gradient(left,  rgba(0,229,254,1) 0%, rgba(0,229,254,0.3) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,229,254,1) 0%,rgba(0,229,254,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,229,254,1) 0%,rgba(0,229,254,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5fe', endColorstr='#4d00e5fe',GradientType=1 ); /* IE6-9 */
    border-radius: 59px 0 0 59px;
    left: -15px;
  }

  &:after {
    background: -moz-linear-gradient(left,  rgba(216,46,103,0.3) 0%, rgba(216,46,103,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(216,46,103,0.3) 0%,rgba(216,46,103,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(216,46,103,0.3) 0%,rgba(216,46,103,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dd82e67', endColorstr='#d82e67',GradientType=1 ); /* IE6-9 */
    right: -15px;
    border-radius: 0 59px 59px 0;
  }

  &:hover {
    .btn__inner {
      background-position: right center;
    }

    &:before {
      left: 0;
      opacity: 0;
    }

    &:after {
      right: 0;
      opacity: 0;
    }
  }

  &--full {
    width: 100%;
  }

  &--medium {
    line-height: 56px;
    font-weight: 400;

    .btn__inner {
      height: 56px;
      border-radius: 56px;
    }

    &:before ,
    &:after {
      height: 56px;
      width: 50px;
    }

    &:before {
      border-radius: 56px 0 0 56px;
      left: -12px;
    }

    &:after {
      right: -12px;
      border-radius: 0 56px 56px 0;
    }
  }

  &--small {
    line-height: 43px;
    font-size: 12px;
    font-weight: 400;

    .btn__inner {
      height: 43px;
      border-radius: 43px;
    }

    &:before ,
    &:after {
      height: 43px;
      width: 40px;
    }

    &:before {
      border-radius: 43px 0 0 43px;
      left: -10px;
    }

    &:after {
      right: -10px;
      border-radius: 0 43px 43px 0;
    }
  }

  &--mini {
    line-height: 30px;
    font-size: 12px;
    font-weight: 400;

    .btn__inner {
      height: 30px;
      border-radius: 30px;
    }

    &:before ,
    &:after {
      height: 30px;
      width: 40px;
    }

    &:before {
      border-radius: 30px 0 0 30px;
      left: -10px;
    }

    &:after {
      right: -10px;
      border-radius: 0 30px 30px 0;
    }
  }
}

.btn-violet {
  height: 44px;
  border-radius: 22px;
  background-color: #4104a2;
  padding: 0 25px;
  text-align: center;
  border: 0;
  outline: 0;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  line-height: 44px;
  transition: 0.3s all ease;

  &:hover {
    background: #6119d4;
  }
}

.btn-r-violet {
  height: 46px;
  padding: 0 25px;
  text-align: center;
  border: 2px solid #4104a2;
  border-radius: 42px;
  outline: 0;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0.5px;
  transition: 0.3s all ease;

  &:hover {
    background: #4104a2;
  }
}

@media(max-width: 768px) {
  .btn {
    line-height: 56px;
    font-weight: normal;

    .btn__inner {
      height: 56px;
      border-radius: 56px;
    }

    &:before ,
    &:after {
      height: 56px;
      width: 50px;
    }

    &:before {
      border-radius: 56px 0 0 56px;
      left: -12px;
    }

    &:after {
      right: -12px;
      border-radius: 0 56px 56px 0;
    }

    &--medium {
      line-height: 56px;

      .btn__inner {
        height: 56px;
        border-radius: 56px;
      }

      &:before ,
      &:after {
        height: 56px;
        width: 50px;
      }

      &:before {
        border-radius: 56px 0 0 56px;
        left: -12px;
      }

      &:after {
        right: -12px;
        border-radius: 0 56px 56px 0;
      }
    }

    &--small {
      line-height: 43px;
      font-size: 12px;
      font-weight: 400;

      .btn__inner {
        height: 43px;
        border-radius: 43px;
      }

      &:before ,
      &:after {
        height: 43px;
        width: 40px;
      }

      &:before {
        border-radius: 43px 0 0 43px;
        left: -10px;
      }

      &:after {
        right: -10px;
        border-radius: 0 43px 43px 0;
      }
    }

    &--mini {
      line-height: 30px;
      font-size: 12px;
      font-weight: 400;

      .btn__inner {
        height: 30px;
        border-radius: 30px;
      }

      &:before ,
      &:after {
        height: 30px;
        width: 40px;
      }

      &:before {
        border-radius: 30px 0 0 30px;
        left: -10px;
      }

      &:after {
        right: -10px;
        border-radius: 0 30px 30px 0;
      }
    }
  }
}
