@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Thin'), local('BebasNeue-Thin'), url('#{$rootUrlFonts}bebasneue/bebasneuethin.woff2') format('woff2'), url('#{$rootUrlFonts}bebasneue/bebasneuethin.woff') format('woff'), url('#{$rootUrlFonts}bebasneue/bebasneuethin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Light'), local('BebasNeue-Light'), url('#{$rootUrlFonts}bebasneue/bebasneuelight.woff2') format('woff2'), url('#{$rootUrlFonts}bebasneue/bebasneuelight.woff') format('woff'), url('#{$rootUrlFonts}bebasneue/bebasneuelight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Book'), local('BebasNeueBook'), url('#{$rootUrlFonts}bebasneue/bebasneuebook.woff2') format('woff2'), url('#{$rootUrlFonts}bebasneue/bebasneuebook.woff') format('woff'), url('#{$rootUrlFonts}bebasneue/bebasneuebook.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('#{$rootUrlFonts}bebasneue/bebasneueregular.woff2') format('woff2'), url('#{$rootUrlFonts}bebasneue/bebasneueregular.woff') format('woff'), url('#{$rootUrlFonts}bebasneue/bebasneueregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('#{$rootUrlFonts}bebasneue/bebasneuebold.woff2') format('woff2'), url('#{$rootUrlFonts}bebasneue/bebasneuebold.woff') format('woff'), url('#{$rootUrlFonts}bebasneue/bebasneuebold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// Futura PT

@font-face {
  font-family: 'Futura PT';
  src: url('#{$rootUrlFonts}FuturaPT/FuturaPT-Book.eot');
  src: local('Futura PT Book'), local('FuturaPT-Book'),
  url('#{$rootUrlFonts}FuturaPT/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}FuturaPT/FuturaPT-Book.woff2') format('woff2'),
  url('#{$rootUrlFonts}FuturaPT/FuturaPT-Book.woff') format('woff'),
  url('#{$rootUrlFonts}FuturaPT/FuturaPT-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('#{$rootUrlFonts}FuturaPT/FuturaPT-Bold.eot');
  src: local('Futura PT Bold'), local('FuturaPT-Bold'),
  url('#{$rootUrlFonts}FuturaPT/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}FuturaPT/FuturaPT-Bold.woff2') format('woff2'),
  url('#{$rootUrlFonts}FuturaPT/FuturaPT-Bold.woff') format('woff'),
  url('#{$rootUrlFonts}FuturaPT/FuturaPT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('#{$rootUrlFonts}FuturaPT/FuturaPT-Medium.eot');
  src: local('Futura PT Medium'), local('FuturaPT-Medium'),
  url('#{$rootUrlFonts}FuturaPT/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}FuturaPT/FuturaPT-Medium.woff2') format('woff2'),
  url('#{$rootUrlFonts}FuturaPT/FuturaPT-Medium.woff') format('woff'),
  url('#{$rootUrlFonts}FuturaPT/FuturaPT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
