.form-row {
  margin-bottom: 8px;

  &__input {
    width: 100%;
    height: 39px;
    border-radius: 20px;
    background: rgba(255,255,255,0.1);
    line-height: 39px;
    padding: 0 28px;
    outline: 0;
    border: 0;
    color: #ffffff;
    font-size: 12px;
  }
}

.form-row-o {
  margin-bottom: 8px;

  &--btn-r {
    position: relative;

    .form-row-o__input {
      padding-right: 226px;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
    }

    .btn-violet {
      position: absolute;
      top: -1px;
      right: -1px;
      z-index: 10;
      width: 198px;
    }
  }

  &__input {
    width: 100%;
    height: 44px;
    border-radius: 22px;
    border: 1px solid rgba(255,255,255,0.1);
    background-color: transparent;
    padding: 0 24px;
    color: #ffffff;
    font-size: 14px;
    outline: 0;
    letter-spacing: 0.3px;

    &::placeholder {
      color: #ffffff;
    }
  }
}

.hint {
  margin: 30px 0 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;

  span {
    color: #4e0ea9;
  }
}

