
.pull-left {float: left;}
.pull-right {float: right;}

.hidden {display: none;}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}
.text-uppercase {text-transform: uppercase;}

.mr-auto {margin-right:auto;}
.ml-auto {margin-left:auto;}

.m-0 {
  margin: 0!important;
}

.mb-0 {
  margin-bottom: 0!important;
}


.mt-15 {
  margin-top: 15px!important;
}

.mt-30 {
  margin-top: 30px!important;
}

.main-container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.box {
  box-shadow: 0 27px 40px rgba(0,0,0,.38);
  background-color: #141420;
  border-radius: 24px;
  min-height: 100px;
}

.box-sh {
  position: relative;

  &:before {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    height: 24px;
    box-shadow: 0 7px 18px #4104a2, 0 7px 18px #4104a2;
    background-color: #141420;
    border-radius: 0 0 24px 24px;
  }

  &__inner {
    min-height: 100px;
    box-shadow: 0 27px 40px rgba(0, 0, 0, 0.38);
    background-color: #141420;
    position: relative;
    z-index: 10;
    border-radius: 24px;
    padding: 58px 0;
  }
}

.timer {
  font-family: 'Futura PT';
  font-weight: 500;
  color: #fff;
  font-size: 38px;

  span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
  }

}
