[class*="icon-"] {
  display: inline-block;
  vertical-align: top;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon {
  &-people {
    width: 22px;
    height: 18px;
    background-image: url('#{$rootUrl}icons/people.png');
  }

  &-match {
    width: 19px;
    height: 19px;
    background-image: url('#{$rootUrl}icons/match.png');
  }

  &-eye {
    width: 26px;
    height: 18px;
    background-image: url('#{$rootUrl}icons/eye.png');
  }

  &-win {
    width: 19px;
    height: 19px;
    background-image: url('#{$rootUrl}icons/win.png');
  }

  &-time {
    width: 20px;
    height: 20px;
    background-image: url('#{$rootUrl}icons/time.png');
  }

  &-lang {
    width: 19px;
    height: 21px;
    background-image: url('#{$rootUrl}icons/lang.png');
  }

  &-yt {
    width: 22px;
    height: 15px;
    background-image: url('#{$rootUrl}icons/yt.png');
  }

  &-chat {
    width: 18px;
    height: 19px;
    background-image: url('#{$rootUrl}icons/chat.png');
  }

  &-settings {
    width: 24px;
    height: 24px;
    background-image: url('#{$rootUrl}icons/settings.png');
  }

  &-qiwi {
    width: 34px;
    height: 34px;
    background-image: url('#{$rootUrl}icons/qiwi.png');
  }

  &-visa {
    width: 52px;
    height: 16px;
    background-image: url('#{$rootUrl}icons/visa.png');
  }

  &-master-card {
    width: 52px;
    height: 27px;
    background-image: url('#{$rootUrl}icons/master-card.png');
  }

  &-maestro {
    width: 48px;
    height: 29px;
    background-image: url('#{$rootUrl}icons/maestro.png');
  }

  &-mir {
    width: 54px;
    height: 15px;
    background-image: url('#{$rootUrl}icons/mir.png');
  }

  &-cellular {
    width: 43px;
    height: 17px;
    background-image: url('#{$rootUrl}icons/cellular.png');
  }

  &-user {
    width: 78px;
    height: 78px;
    background-image: url('#{$rootUrl}icons/user.png');
  }
}

