#overlay {
  z-index: 900;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  display: none;
  position: fixed;
}

.modal {
  width: 367px;
  box-shadow: 0 27px 40px rgba(0,0,0,.38);
  background-color: #141420;
  border-radius: 24px;
  min-height: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0) scale(0);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease;
  padding: 53px 45px;

  &__in {
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transform: translate(-50%,0) scale(1);
  }

  &--info {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 330px;
  }

  &__title {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1px;
    margin: 0 0 26px;
  }

  &__sub-title {
    font-family: 'Futura PT';
    font-weight: 500;
    font-size: 22px;
    margin: 0 0 15px;
    color: #fff;
    text-align: center;
  }

  &__text-info {
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-family: 'Futura PT';
    font-weight: 500;
  }

  &__close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -30px;
    right: -30px;
    z-index: 50;

    &:before,
    &:after {
      display: block;
      content: '';
      width: 30px;
      height: 3px;
      background: #fff;
      transition: 0.3s all ease;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &:before {
      transform: translate(-50%,-50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%,-50%) rotate(-45deg);
    }

    &:hover {
      &:before ,
      &:after {
        background: #4104a2;
      }
    }
  }
}

#pubg {
  width: 367px;
  padding: 40px 35px;

  .btn {
    width: auto;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s all ease;
  }
}

@media(max-width: 480px) {
  .modal {
    max-width: calc(100% - 30px);
    padding: 40px 25px;

    &__close {
      right: 8px;
      top: -35px;
    }
  }
}
