* ,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  min-width: 320px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  background: url('#{$rootUrl}bg.jpg') no-repeat top center #000;
}

#main {
  width:100%;
  overflow: hidden;
}

.main-page ,
.inner-page {

}

.page-content  {
  padding-bottom: 230px;
  padding-top: 250px;
  min-height: 700px;

  h1 , .h1 {
    margin: 0;
  }
}

.page-video {
  border: 1px solid #434343;
  box-shadow: 0 0 26px #402477;
  background-color: #0d0d14;
  padding: 2px 3px 3px;
  border-radius: 4px;
  margin: 30px auto 0;
  max-width: 1132px;

  iframe {
    margin: 0;
    display: block;
    border: 0;
    outline: 0;
    height: 630px;
    width: 100%;
  }
}

@media(max-width: 1200px) {
  .page-video {
    max-width: 793px;

    iframe {
      height: 441px;
    }
  }
}

@media(max-width: 992px) {
  .page-video {
    max-width: 555px;

    iframe {
      height: 309px;
    }
  }
}

@media(max-width: 768px) {
  #main,
  body {
    background-size: 1024px auto;
  }

  .page-content {
    padding-top: 100px;
  }

  .page-video {
    max-width: 389px;

    iframe {
      height: 216px;
    }
  }
}

@media(max-width: 568px) {
  #main,
  body {
    background-size: 940px auto;
  }
}
