.tabs {
  padding: 0;
  margin: 38px 0 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    margin: 0 15px 10px;
  }

  &__btn {
    padding: 0 50px;
    display: block;
    margin: 0;
    outline: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    position: relative;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 69px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    text-decoration: none;
    min-width: 200px;
    text-align: center;
    white-space: nowrap;

    &:before ,
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.3s all ease;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 69px;
    }

    &:before {
      background-image: url('#{$rootUrl}tabs-btn.png');
    }

    &:after {
      background-image: url('#{$rootUrl}tabs-btn-h.png');
      opacity: 0;
    }

    &:hover,
    &--active {
      &:before {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }
    }
  }
}


