.category-title {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  text-align: center;
  font-size: 84px;
  margin: 0;
  font-weight: 700;
  font-family: 'Bebas Neue';
  line-height: 1.2;
  position: relative;
  text-shadow:
    2px  2px 0 #434343,
    -2px -2px 0 #434343,
    2px -2px 0 #434343,
    -2px  2px 0 #434343,
    2px  2px 0 #434343;

  &:before ,
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 120%;
  }

}

h1 , .h1 {
  margin: 0 1em;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow:
    2px  2px 0 #434343,
    -2px -2px 0 #434343,
    2px -2px 0 #434343,
    -2px  2px 0 #434343,
    2px  2px 0 #434343;
}

.title-group {
  text-align: center;
  padding-top: 100px;

  h1 , .h1 {
    margin: 0 0 5px;
    line-height: 1;
  }

  p {
    margin: 0;
    color: #ffffff;
    font-size: 24px;
  }
}

.section-title {
  color: #ffffff;
  font-family: "Futura PT";
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}

@media(max-width: 1200px) {
  .category-title {
    font-size: 74px;
  }

  .h1 , h1 {
    font-size: 70px;
  }
}

@media(max-width: 1024px) {
  .title-group {
    padding-top: 50px;
  }
}

@media(max-width: 992px) {
  .category-title {
    font-size: 60px;
  }

  .h1 , h1 {
    font-size: 60px;
  }
}

@media(max-width: 768px) {
  .category-title,
  .h1 , h1 {
    font-size: 44px;
  }

  .title-group p {
    font-size: 16px;
  }
}

@media(max-width: 360px) {
  .category-title,
  .h1 , h1 {
    font-size: 40px;
  }
}
