extends layout/layout

block content
  #main.main-page
    include blocks/header
    include blocks/welcome
    include blocks/about
    include blocks/tournaments
    include blocks/leaders
    include blocks/supported-g
    include blocks/footer
