.about
  .main-container
    .text-center
      .category-title Как начать играть?
    ul.about-list
      li.about-list__item
        .about-list__num-cont
          .about-list__num.about-list__num--1
        h3.about-list__title Выбирай турнир
        p На текущий момент доступны три режима: Максимальный урон, Выживший и Убийца. Нажми "Участвовать" и ты готов играть.
      li.about-list__item
        .about-list__num-cont
          .about-list__num.about-list__num--2
        h3.about-list__title Регистрируйся
        p Создайте аккаунт на сайте использовав свою почту. Добавьте свой PUBG username и начните участвовать.
      li.about-list__item
        .about-list__num-cont
          .about-list__num.about-list__num--3
        h3.about-list__title Участвуй в турнире
        p Играй по правилам турнира, остальное мы сделаем за вас. Получайте денежные вознаграждения
          !=" "
          span
            a(href="") (смотреть правила)
