footer.footer
  .main-container
    ul.footer__nav
      li.footer__nav-item
        a(href="").footer__nav-link Главная
      li.footer__nav-item
        a(href="").footer__nav-link Правила
      li.footer__nav-item
        a(href="").footer__nav-link Функции
      li.footer__nav-item
        a(href="").footer__nav-link Турниры
      li.footer__nav-item
        a(href="").footer__nav-link FAQ
    ul.footer__socials
      li.footer__socials-item
        a(href="").footer__socials-link
          i.footer__socials-icon.footer__socials-icon--discort
      li.footer__socials-item
        a(href="").footer__socials-link
          i.footer__socials-icon.footer__socials-icon--telegram
      li.footer__socials-item
        a(href="").footer__socials-link
          i.footer__socials-icon.footer__socials-icon--vk
      li.footer__socials-item
        a(href="").footer__socials-link
          i.footer__socials-icon.footer__socials-icon--yt
    .footer__b-row
      .footer__item
        p © 2020 EzGG. All rights reserved.
      .footer__item
        p.text-center
          a(href="") Политика конфиденциальности
      .footer__item
        p
          a(href="") Условия использования
