header.header
  .main-container
    a(href="#").header__logo
    .header__top
      .col-auto
        .header__sign-in
          a(href="") Вход
          | /
          a(href="") Регистрация

      .col-auto.ml-auto
        .header__user
          .header__user-cont
            a(href="#").header__user-name Playername
            .header__user-price 250
              span.header__user-currency $
          a(href="#" style="background-image: url('img/pic-1.jpg')").header__user-avatar
          .header__user-avatar-m(style="background-image: url('img/pic-1.jpg')")
          .header__user-drop
            a(href="#").header__user-name Playername
            .header__user-price 250
              span.header__user-currency $

    a(href="").header__btn-menu
      span
      span
      span
    .header__menu
      .header__sign-in
        a(href="") Вход
        | /
        a(href="") Регистрация
      ul.header__nav
        li.header__nav-item
          a(href="").header__nav-link Главная
        li.header__nav-item
          a(href="").header__nav-link Правила
        li.header__nav-item
          a(href="").header__nav-link Функции
        li.header__nav-item
          a(href="").header__nav-link Турниры
        li.header__nav-item
          a(href="").header__nav-link FAQ

