.leaders
  .main-container
    .text-center
      .category-title Таблица лидеров
    p.leaders__text-info Статистика лучших игроков за последние 24 часа. Вы тоже можете сюда попасть!
    .leaders__row
      .leaders__item
        .leaders__inner
          h3.leaders__title Убийства
          .leaders-table
            .leaders-table__row
              .leaders-table__item.leaders-table__item--num
                .leaders-table__inner 1
              .leaders-table__item.leaders-table__item--cont
                .leaders-table__inner
                  .leaders-table__user-info
                    .leaders-table__avatar(style="background-image: url(img/pic-1.jpg);")
                    .leaders-table__user-name Gamer №1
              .leaders-table__item.leaders-table__item--status
                .leaders-table__inner
                  b 34
            .leaders-table__row
              .leaders-table__item.leaders-table__item--num
                .leaders-table__inner 2
              .leaders-table__item.leaders-table__item--cont
                .leaders-table__inner
                  .leaders-table__user-info
                    .leaders-table__avatar(style="background-image: url(img/pic-1.jpg);")
                    .leaders-table__user-name Gamer №2
              .leaders-table__item.leaders-table__item--status
                .leaders-table__inner
                  b 23
            .leaders-table__row
              .leaders-table__item.leaders-table__item--num
                .leaders-table__inner 3
              .leaders-table__item.leaders-table__item--cont
                .leaders-table__inner
                  .leaders-table__user-info
                    .leaders-table__avatar(style="background-image: url(img/pic-1.jpg);")
                    .leaders-table__user-name Gamer №3
              .leaders-table__item.leaders-table__item--status
                .leaders-table__inner
                  b 3
            .leaders-table__row
              .leaders-table__item.leaders-table__item--num
                .leaders-table__inner 4
              .leaders-table__item.leaders-table__item--cont
                .leaders-table__inner
                  .leaders-table__user-info
                    .leaders-table__avatar(style="background-image: url(img/pic-1.jpg);")
                    .leaders-table__user-name Gamer №4
              .leaders-table__item.leaders-table__item--status
                .leaders-table__inner
                  b 1
            .leaders-table__row
              .leaders-table__item.leaders-table__item--num
                .leaders-table__inner 5
              .leaders-table__item.leaders-table__item--cont
                .leaders-table__inner
                  .leaders-table__user-info
                    .leaders-table__avatar(style="background-image: url(img/pic-1.jpg);")
                    .leaders-table__user-name Gamer №5
              .leaders-table__item.leaders-table__item--status
                .leaders-table__inner
                  b 0
      .leaders__item
        .leaders__inner
          h3.leaders__title Урон
          .leaders-table
            .leaders-table__row
              .leaders-table__item.leaders-table__item--num
                .leaders-table__inner 1
              .leaders-table__item.leaders-table__item--cont
                .leaders-table__inner
                  .leaders-table__user-info
                    .leaders-table__avatar(style="background-image: url(img/pic-1.jpg);")
                    .leaders-table__user-name Gamer №1
              .leaders-table__item.leaders-table__item--status
                .leaders-table__inner
                  b 34
            .leaders-table__row
              .leaders-table__item.leaders-table__item--num
                .leaders-table__inner 2
              .leaders-table__item.leaders-table__item--cont
                .leaders-table__inner
                  .leaders-table__user-info
                    .leaders-table__avatar(style="background-image: url(img/pic-1.jpg);")
                    .leaders-table__user-name Gamer №2
              .leaders-table__item.leaders-table__item--status
                .leaders-table__inner
                  b 23
            .leaders-table__row
              .leaders-table__item.leaders-table__item--num
                .leaders-table__inner 3
              .leaders-table__item.leaders-table__item--cont
                .leaders-table__inner
                  .leaders-table__user-info
                    .leaders-table__avatar(style="background-image: url(img/pic-1.jpg);")
                    .leaders-table__user-name Gamer №3
              .leaders-table__item.leaders-table__item--status
                .leaders-table__inner
                  b 3
            .leaders-table__row
              .leaders-table__item.leaders-table__item--num
                .leaders-table__inner 4
              .leaders-table__item.leaders-table__item--cont
                .leaders-table__inner
                  .leaders-table__user-info
                    .leaders-table__avatar(style="background-image: url(img/pic-1.jpg);")
                    .leaders-table__user-name Gamer №4
              .leaders-table__item.leaders-table__item--status
                .leaders-table__inner
                  b 1
            .leaders-table__row
              .leaders-table__item.leaders-table__item--num
                .leaders-table__inner 5
              .leaders-table__item.leaders-table__item--cont
                .leaders-table__inner
                  .leaders-table__user-info
                    .leaders-table__avatar(style="background-image: url(img/pic-1.jpg);")
                    .leaders-table__user-name Gamer №5
              .leaders-table__item.leaders-table__item--status
                .leaders-table__inner
                  b 0
      .leaders__item
        .leaders__inner
          h3.leaders__title Зароботок
          .leaders-table
            .leaders-table__row
              .leaders-table__item.leaders-table__item--num
                .leaders-table__inner 1
              .leaders-table__item.leaders-table__item--cont
                .leaders-table__inner
                  .leaders-table__user-info
                    .leaders-table__avatar(style="background-image: url(img/pic-1.jpg);")
                    .leaders-table__user-name Gamer №1
              .leaders-table__item.leaders-table__item--status
                .leaders-table__inner
                  b 34
            .leaders-table__row
              .leaders-table__item.leaders-table__item--num
                .leaders-table__inner 2
              .leaders-table__item.leaders-table__item--cont
                .leaders-table__inner
                  .leaders-table__user-info
                    .leaders-table__avatar(style="background-image: url(img/pic-1.jpg);")
                    .leaders-table__user-name Gamer №2
              .leaders-table__item.leaders-table__item--status
                .leaders-table__inner
                  b 23
            .leaders-table__row
              .leaders-table__item.leaders-table__item--num
                .leaders-table__inner 3
              .leaders-table__item.leaders-table__item--cont
                .leaders-table__inner
                  .leaders-table__user-info
                    .leaders-table__avatar(style="background-image: url(img/pic-1.jpg);")
                    .leaders-table__user-name Gamer №3
              .leaders-table__item.leaders-table__item--status
                .leaders-table__inner
                  b 3
            .leaders-table__row
              .leaders-table__item.leaders-table__item--num
                .leaders-table__inner 4
              .leaders-table__item.leaders-table__item--cont
                .leaders-table__inner
                  .leaders-table__user-info
                    .leaders-table__avatar(style="background-image: url(img/pic-1.jpg);")
                    .leaders-table__user-name Gamer №4
              .leaders-table__item.leaders-table__item--status
                .leaders-table__inner
                  b 1
            .leaders-table__row
              .leaders-table__item.leaders-table__item--num
                .leaders-table__inner 5
              .leaders-table__item.leaders-table__item--cont
                .leaders-table__inner
                  .leaders-table__user-info
                    .leaders-table__avatar(style="background-image: url(img/pic-1.jpg);")
                    .leaders-table__user-name Gamer №5
              .leaders-table__item.leaders-table__item--status
                .leaders-table__inner
                  b 0
