.supported-g
  .main-container
    .text-center
      .category-title Поддерживаемые игры
    .supported-games
      .supported-games__item
        a(href="").supported-games__inner
          .supported-games__cont
            .supported-games__img
              img(src="img/pic-7.jpg" alt="")
            .supported-games__name Играйте
      .supported-games__item
        a(href="").supported-games__inner
          .supported-games__cont
            .supported-games__img
              img(src="img/pic-7.jpg" alt="")
            .supported-games__name Скоро
      .supported-games__item
        a(href="").supported-games__inner
          .supported-games__cont
            .supported-games__img
              img(src="img/pic-7.jpg" alt="")
            .supported-games__name Скоро
      .supported-games__item
        a(href="").supported-games__inner
          .supported-games__cont
            .supported-games__img
              img(src="img/pic-7.jpg" alt="")
            .supported-games__name Скоро
