.tournaments
  .main-container
    .text-center
      .category-title Турниры
    ul.tourney-slider
      li.tourney-slider__item
        .tourney-slider__inner
          .tourney-slider__img(style="background-image: url(img/pic-4.jpg);")
            .tourney-slider__label.tourney-slider__label--green SOLO
          h3.tourney-slider__title Выживший
          p.tourney-slider__category Эрангель/Эрангель/Эрангель
          .tourney-slider__price
            .tourney-slider__price-item Взнос
              !=" "
              span 1$
            .tourney-slider__price-item Награда
              !=" "
              span 50$
          p.tourney-slider__players Игроков 1/100
          .text-center
            a(href="").btn.tourney-slider__btn
              span.btn__inner Подробней
      li.tourney-slider__item
        .tourney-slider__inner
          .tourney-slider__img(style="background-image: url(img/pic-5.jpg);")
            .tourney-slider__label.tourney-slider__label--blue DUO
          h3.tourney-slider__title Убийца
          p.tourney-slider__category Эрангель/Эрангель/Эрангель
          .tourney-slider__price
            .tourney-slider__price-item Взнос
              !=" "
              span 1$
            .tourney-slider__price-item Награда
              !=" "
              span 50$
          p.tourney-slider__players Игроков 1/100
          .text-center
            a(href="").btn.tourney-slider__btn
              span.btn__inner Подробней
      li.tourney-slider__item
        .tourney-slider__inner
          .tourney-slider__img(style="background-image: url(img/pic-6.jpg);")
            .tourney-slider__label.tourney-slider__label--red SQUAD
          h3.tourney-slider__title Выживший
          p.tourney-slider__category Эрангель/Эрангель/Эрангель
          .tourney-slider__price
            .tourney-slider__price-item Взнос
              !=" "
              span 1$
            .tourney-slider__price-item Награда
              !=" "
              span 50$
          p.tourney-slider__players Игроков 1/100
          .text-center
            a(href="").btn.tourney-slider__btn
              span.btn__inner Подробней
      li.tourney-slider__item
        .tourney-slider__inner
          .tourney-slider__img(style="background-image: url(img/pic-4.jpg);")
            .tourney-slider__label.tourney-slider__label--green SOLO
          h3.tourney-slider__title Выживший
          p.tourney-slider__category Эрангель/Эрангель/Эрангель
          .tourney-slider__price
            .tourney-slider__price-item Взнос
              !=" "
              span 1$
            .tourney-slider__price-item Награда
              !=" "
              span 50$
          p.tourney-slider__players Игроков 1/100
          .text-center
            a(href="").btn.tourney-slider__btn
              span.btn__inner Подробней
      li.tourney-slider__item
        .tourney-slider__inner
          .tourney-slider__img(style="background-image: url(img/pic-5.jpg);")
            .tourney-slider__label.tourney-slider__label--blue DUO
          h3.tourney-slider__title Убийца
          p.tourney-slider__category Эрангель/Эрангель/Эрангель
          .tourney-slider__price
            .tourney-slider__price-item Взнос
              !=" "
              span 1$
            .tourney-slider__price-item Награда
              !=" "
              span 50$
          p.tourney-slider__players Игроков 1/100
          .text-center
            a(href="").btn.tourney-slider__btn
              span.btn__inner Подробней
      li.tourney-slider__item
        .tourney-slider__inner
          .tourney-slider__img(style="background-image: url(img/pic-6.jpg);")
            .tourney-slider__label.tourney-slider__label--red SQUAD
          h3.tourney-slider__title Выживший
          p.tourney-slider__category Эрангель/Эрангель/Эрангель
          .tourney-slider__price
            .tourney-slider__price-item Взнос
              !=" "
              span 1$
            .tourney-slider__price-item Награда
              !=" "
              span 50$
          p.tourney-slider__players Игроков 1/100
          .text-center
            a(href="").btn.tourney-slider__btn
              span.btn__inner Подробней
    .text-center
      a(href="").tournaments__more Ещё турниры
