.welcome
  .welcome__mouse
  .welcome__slider
    .welcome__slider-item(style="background-image:url('img/pic-2.jpg')")
    .welcome__slider-item(style="background-image:url('img/pic-3.png')")
  .welcome__cont
    .welcome__arrow.welcome__arrow--prev
    .welcome__arrow.welcome__arrow--next
    .welcome__title EZGG бросает
      span вам вызов
    p Уверен в своих силах?
      span Учавствуй! Получай призы!
    .text-center
      a(href="").btn.welcome__btn
        span.btn__inner Как это устроено?

